/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Thin.woff2") format("woff2"), url("../fonts/Exo2-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-ExtraLight.woff2") format("woff2"), url("../fonts/Exo2-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #000000;
  font-family: "Exo 2", Arial, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100vh;
  background-image: url(../images/bg/bg-index.jpg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  height: 100%;
  padding-left: 325px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: translate3d(0, -400vh, 0);
  transform: translate3d(0, -400vh, 0);
}

section {
  height: 100vh;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

/*------------------------SECTION-COMMON----------------*/
.title {
  font-size: 70px;
  font-weight: 300;
  text-transform: uppercase;
}

.title_small {
  font-size: 57px;
}

.title_small .title__text_small {
  margin-left: 70px;
  margin-right: 40px;
}

.title__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title__text_small {
  color: #ffba00;
  font-size: 0.4714285714285714em;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.92px;
  margin-top: 8px;
  margin-right: 20px;
  margin-left: 140px;
}

.we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.we__title {
  color: transparent;
  font-size: 323px;
  font-weight: 100;
  background: -webkit-linear-gradient(45deg, rgba(172, 172, 173, 0.2) 0%, rgba(172, 172, 173, 0.22) 1%, #acacad 45%, #acacad 55%, rgba(172, 172, 173, 0.2) 100%);
  background: -o-linear-gradient(45deg, rgba(172, 172, 173, 0.2) 0%, rgba(172, 172, 173, 0.22) 1%, #acacad 45%, #acacad 55%, rgba(172, 172, 173, 0.2) 100%);
  background: linear-gradient(45deg, rgba(172, 172, 173, 0.2) 0%, rgba(172, 172, 173, 0.22) 1%, #acacad 45%, #acacad 55%, rgba(172, 172, 173, 0.2) 100%);
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.we__btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 30px;
}

.proportion {
  width: 100%;
}

.proportion_1x1 {
  padding-top: calc( (1/1)*100%);
}

/*------------------------SECTION-HEADER----------------*/
/*-----------------SECTION-ASIDE--------------------*/
.aside {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 325px;
  overflow: hidden;
  padding-top: 9.09091vh;
  padding-bottom: 9.09091vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.aside__logo {
  margin-bottom: 5.72727vh;
  padding-left: 65px;
  padding-right: 90px;
}

.aside__contacts {
  margin-bottom: 4.09091vh;
  padding-left: 65px;
  padding-right: 90px;
}

.aside__seporator {
  margin-bottom: 3.63636vh;
  padding-right: 90px;
}

.aside__nav {
  padding-left: 65px;
  padding-right: 90px;
  margin-bottom: 3.09091vh;
}

.aside__search {
  padding-left: 65px;
  padding-right: 90px;
  margin-bottom: 11.36364vh;
}

.aside__controls {
  padding-left: 30px;
  padding-right: 90px;
  margin-bottom: 2.27273vh;
}

.aside__map {
  padding-left: 30px;
  padding-right: 90px;
  margin-bottom: 2.27273vh;
}

.aside__socials {
  padding-left: 65px;
  padding-right: 90px;
  margin-top: auto;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts__item {
  color: #838383;
  letter-spacing: 1.23px;
  margin-bottom: 10px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item_white {
  color: #ffffff;
}

.seporator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.seporator__line {
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 57, 0)), to(#333339));
  background: -webkit-linear-gradient(left, rgba(51, 51, 57, 0) 0%, #333339 100%);
  background: -o-linear-gradient(left, rgba(51, 51, 57, 0) 0%, #333339 100%);
  background: linear-gradient(to right, rgba(51, 51, 57, 0) 0%, #333339 100%);
}

.seporator__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 7px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav__item {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  position: relative;
  margin-bottom: 1.81818vh;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__item:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 116%;
  height: 1px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#333339), color-stop(75%, #333339), to(rgba(51, 51, 57, 0)));
  background: -webkit-linear-gradient(left, #333339 0%, #333339 75%, rgba(51, 51, 57, 0) 100%);
  background: -o-linear-gradient(left, #333339 0%, #333339 75%, rgba(51, 51, 57, 0) 100%);
  background: linear-gradient(to right, #333339 0%, #333339 75%, rgba(51, 51, 57, 0) 100%);
}

.search__btn {
  width: 20px;
  height: 13px;
  position: relative;
}

.search__btn-line {
  position: absolute;
  left: -2px;
  bottom: 3px;
  width: 9px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.search__btn-round {
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2.27273vh;
}

.control:last-child {
  margin-bottom: 0;
}

.control__svg {
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 20px;
}

.control__title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 300;
}

.control__map {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.control__map_grey {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}

.control__map_grey:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 108%;
  height: 1px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#333339), color-stop(75%, #333339), to(rgba(51, 51, 57, 0)));
  background: -webkit-linear-gradient(left, #333339 0%, #333339 75%, rgba(51, 51, 57, 0) 100%);
  background: -o-linear-gradient(left, #333339 0%, #333339 75%, rgba(51, 51, 57, 0) 100%);
  background: linear-gradient(to right, #333339 0%, #333339 75%, rgba(51, 51, 57, 0) 100%);
}

.socials__item {
  margin-right: 30px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item-svg {
  width: 13px;
  height: 13px;
  fill: #ffffff;
}

/*-----------------SECTION-FIRST--------------------*/
.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first__title {
  position: relative;
  z-index: 30;
}

.first__image {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 325px;
}

.first__img {
  height: 93vh;
  position: relative;
  z-index: 20;
  display: block;
}

.first__we {
  position: absolute;
  z-index: 10;
  top: 45.45455vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -240px;
}

.first__test {
  position: absolute;
  z-index: 10;
  top: 9.54545vh;
  right: 7.72727vh;
}

.first__menu {
  position: absolute;
  z-index: 30;
  left: 325px;
  right: 7.29167vw;
  bottom: 0;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.test:hover:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.test:after {
  content: url("../images/bg/round.png");
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(0deg);
  -ms-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
  left: 43px;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

.test__percent {
  font-size: 39px;
  font-weight: 300;
  margin-right: 10px;
}

.test__title {
  color: #ffba00;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.81px;
}

.test__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.btn {
  width: 266px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.btn:hover .btn__line-top {
  width: 100%;
}

.btn:hover .btn__line-bottom {
  width: 100%;
}

.btn__title {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  position: relative;
}

.btn__lines {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.btn__line-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 17%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.btn__line-top:after {
  content: url("/images/bg/light.png");
  display: block;
  position: absolute;
  left: -7.5px;
  top: 50%;
  margin-top: -7.5px;
}

.btn__line-right {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.btn__line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.5%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.btn__line-bottom:after {
  content: url("/images/bg/light.png");
  display: block;
  position: absolute;
  right: -7.5px;
  top: 50%;
  margin-top: -7.5px;
}

.btn__line-left {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -3.125vw;
  margin-left: -3.125vw;
}

.menu_top .menu__item {
  padding-top: 6.81818vh;
  padding-bottom: 0;
}

.menu_top .menu__item:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.menu_top .menu__item:before {
  top: initial;
  bottom: 7px;
}

.menu__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 6.81818vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.menu__item:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 1px;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.menu__item:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  right: -2px;
  top: 7px;
}

.menu__item:last-child:after, .menu__item:last-child:before {
  display: none;
}

.menu__item-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.menu__item-value {
  font-weight: 700;
}

.pag {
  position: fixed;
  right: 5.20833vw;
  top: 48.90909vh;
}

.pag__arrow {
  opacity: 0.2;
  position: absolute;
  right: calc(100% + 15px);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pag__arrow-line {
  width: 39.21875vw;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.7)), to(white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, white 100%);
}

.pag__arrow-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 7px;
  border-color: transparent transparent transparent #ffffff;
}

.pag__wrapper {
  padding-top: 200px;
  height: 430px;
  width: 40px;
  overflow-y: hidden;
  margin-top: -200px;
}

.pag__items {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pag__item {
  margin-bottom: 80px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-weight: 300;
}

.pag__item.active {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: #ffba00;
}

/*-----------------SECTION-ABOUT--------------------*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-left: -325px;
  padding-left: 325px;
  overflow: hidden;
}

.about__title {
  position: relative;
  z-index: 20;
  margin-bottom: 4.09091vh;
}

.about__content {
  position: relative;
  z-index: 40;
  opacity: .5;
  width: 420px;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 70px;
}

.about__content p {
  margin-bottom: 5vh;
}

.about__content p:last-child {
  margin-bottom: 0;
}

.about__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.about__image:before {
  content: url("/images/content/figure_shadow.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 50.81818vh;
}

.about__we {
  position: absolute;
  z-index: 0;
  left: 56.5%;
  top: 30%;
}

.about__menu {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 325px;
  right: 7.29167vw;
}

.figure {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
}

.figure.active .figure__block1 {
  bottom: calc(100% - 1px);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.figure.active .figure__block2 {
  top: calc(100% - 0px);
  right: calc(100% - 22px);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.figure.active .figure__block3 {
  bottom: calc(100% + 0px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.figure.active .figure__block4 {
  left: calc(100% + 22px);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.figure img {
  max-width: initial;
  max-height: 100%;
}

.figure__block1 {
  position: absolute;
  bottom: calc(100% + 50px);
  bottom: calc(100% + 2000px);
  right: 100%;
  height: 43.09091vh;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.figure__block2 {
  position: absolute;
  top: calc(100% - 51px);
  right: 100%;
  right: calc(100% + 2000px);
  height: 57.45455vh;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.figure__block3 {
  position: absolute;
  bottom: calc(100% + 2000px);
  left: 100%;
  height: 46.72727vh;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.figure__block4 {
  position: absolute;
  top: 100%;
  left: calc(100% + 2000px);
  height: 57.72727vh;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*-----------------SECTION-PRICE--------------------*/
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-left: -325px;
  padding-left: 325px;
  overflow: hidden;
  background-image: url(../images/bg/screen3.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding-right: 300px;
}

.price__title {
  font-size: 64px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.81818vh;
}

.price__subtitle {
  color: #ffba00;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.92px;
  text-align: center;
  margin-bottom: 5.45455vh;
}

.price__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.price__menu {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 325px;
  right: 7.29167vw;
}

.calc {
  width: 1120px;
}

.calc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 23px 0;
  position: relative;
}

.calc__row:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(30%, rgba(255, 255, 255, 0.3)), color-stop(70%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.1) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.1) 100%);
}

.calc__row_bottom {
  margin-bottom: 3.18182vh;
}

.calc__row-title {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  min-width: 18%;
  width: 18%;
}

.calc__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.calc__fields_2 {
  margin-right: -15px;
  margin-left: -15px;
}

.calc__field {
  width: calc(100% / 4 - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

.calc__field_2 {
  width: calc(100% / 2 - 60px);
}

.calc__label {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.calc__label_middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calc__label-title {
  margin-right: 0.78125vw;
}

.calc__radio {
  display: none;
}

.calc__radio:checked + .calc__label {
  color: #ffffff;
}

.calc__radio:checked + .calc__label .calc__radio-fake:after {
  opacity: 1;
}

.calc__radio-fake {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(99, 99, 99, 0.7);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.calc__radio-fake:after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #ffba00;
  border-radius: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.calc__checkbox {
  display: none;
}

.calc__checkbox:checked + .calc__label {
  color: #ffffff;
}

.calc__checkbox:checked + .calc__label .calc__checkbox-fake:after {
  opacity: 1;
}

.calc__checkbox-fake {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(99, 99, 99, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5.5px;
}

.calc__checkbox-fake:after {
  content: '';
  width: 5px;
  height: 7px;
  opacity: 0;
  border-left: 1px solid #ffba00;
  border-bottom: 1px solid #ffba00;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: skew(-20deg) rotate(-45deg);
  -ms-transform: skew(-20deg) rotate(-45deg);
  transform: skew(-20deg) rotate(-45deg);
  margin-bottom: 2px;
}

.calc__input {
  width: 43px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 17px;
  line-height: 1;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 0 5px;
}

.calc__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1px;
  width: 100%;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#ffba00), color-stop(12%, #ffba00), color-stop(12%, #352b4d), to(#352b4d));
  background: -webkit-linear-gradient(left, #ffba00 0%, #ffba00 12%, #352b4d 12%, #352b4d 100%);
  background: -o-linear-gradient(left, #ffba00 0%, #ffba00 12%, #352b4d 12%, #352b4d 100%);
  background: linear-gradient(left, #ffba00 0%, #ffba00 12%, #352b4d 12%, #352b4d 100%);
}

.calc__range::-moz-range-track {
  -moz-appearance: none;
  height: 1px;
  background: transparent;
}

.calc__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 9px;
  height: 9px;
  border: 1px solid #ffba00;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.calc__range::-webkit-slider-thumb:active {
  width: 14px;
  height: 14px;
}

.calc__range::-moz-range-thumb {
  -moz-appearance: none;
  width: 9px;
  height: 9px;
  border: 1px solid #ffba00;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.calc__range::-moz-range-thumb:active {
  width: 12px;
  height: 12px;
}

.calc__range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.calc__range::-ms-thumb {
  width: 9px;
  height: 9px;
  border: 1px solid #ffba00;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.calc__range::-ms-thumb:active {
  width: 12px;
  height: 12px;
}

.calc__range-title {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
  width: 100px;
  min-width: 100px;
  margin-left: 12px;
}

.calc__field2 {
  width: calc(100% / 3 - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

.calc__personal {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.calc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*-----------------SECTION-CATALOG--------------------*/
.cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  margin-left: -325px;
  padding-left: 325px;
  overflow: hidden;
  padding-right: 350px;
}

.cat__title {
  font-size: 63px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.81818vh;
}

.cat__subtitle {
  color: #ffba00;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.92px;
  margin-bottom: 6.36364vh;
}

.cat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.cat__item {
  width: 25%;
  position: relative;
}

.cat__item:hover .cat__item-pic {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.cat__item-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cat__item-pic {
  display: block;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.cat__menu {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 325px;
  right: 7.29167vw;
}

/*-----------------SECTION-SEO--------------------*/
.seo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-left: -325px;
  padding-left: 325px;
  overflow: hidden;
  padding-right: 300px;
}

.seo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6.36364vh;
}

.seo__menu {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 325px;
  right: 7.29167vw;
}

.seo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6.36364vh;
}

.seo__item {
  padding: 12px 30px;
}

.seo__item-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  font-weight: 300;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.seo__label {
  display: block;
}

.seo__input {
  display: none;
}

.seo__input:checked + .seo__item-title {
  color: #ffffff;
}

.seo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*------------------------SECTION-FOOTER---------------------*/

/*# sourceMappingURL=main.css.map */