include ../../../../../common/_mixins
include ../../../../../common/_settings

section.site-bottom
    .bottom
        .container2
            //- REVIEWS
            .bottom__rev
                include ../../../../../common/sections/rev
            //- SEND
            .bottom__send
                include ../../../../../common/sections/send
            //- WHY
            .bottom__why
                .why
                    .why__img
                        img(src='images/content/why.png').why__img-img
                    .why__title Создание сайта
                    .why__content
                        p.
                            Корпоративные ресурсы выполняют множество функций сразу; в современном мире они —главная
                            презентация компании в информационной сфере. Ни одна компания не обходится без промо портала,
                            позволяющего продвигаться на рынке. Корпоративные ресурсы служат площадкой для взаимодействия
                            с партнерами и потребителями, а также предоставляют последним всю необходимую информацию в удобном виде.
                        p.
                            Именно здесь будет храниться колоссальное количество информации, которая иллюстрирует
                            состояние компании на всех уровнях — от перечня сотрудников до ассортимента и описания услуг.
                             Создание корпоративного интернет-сайта позволяет интегрировать в него все бизнес-системы
                             организации и даёт сотрудникам возможность взаимодействовать друг с другом. Условно можно
                             выделить два подвида: внутренние (локальные) и внешние сайты. Опишем их более детально.
                        h3 Внутренние ресурсы: задачи
                        p.
                            Основная задача внутренних бизнес-сайтов — представлять новости компании,
                            контакты сотрудников, выступать площадкой для хранения всевозможных документов и
                            расположения баз данных. Грамотно разработанный проект такого типа даёт возможность
                            формировать т.н. банки идей, проводить в режиме онлайн конференции.
                        h2 Удобно практически всем:
                        p.
                            Отметим, что нередко доступ к локальным сайтам предоставляется не только сотрудникам,
                             но также внешним пользователям; пример — дистрибьютеры. Доступ может быть ограниченным:
                             например, открыто только несколько разделов. Схожим образом могут быть отрегулированы и
                             права сотрудников.
                        h3 Внешние ресурсы: почему важны
                        p.
                            Внешние корпоративные сайты доступны для всех пользователей сети. Фактически они
                             представляют собой «лицо» организации, поскольку влияют на первое впечатление и содержат
                              в себе всю необходимую базовую информацию. Новости, форум, услуги, контакты,
                              преимущества — это лишь частичный перечень возможных разделов. Выделим основные задачи в виде перечня:
                        h2 Информация
                        p.
                            В двадцать первом веке интернет-сайт — самый дешевый и эффективный способ донести
                            определенную информацию в макро-масштабе. Суммарное количество пользователей в тысячи раз
                            повышает количество читателей любых журналов (вплоть до самых популярных), а с недавнего
                            времени также превалирует над количеством регулярно смотрящих телевизор людей. Кстати,
                            отличным способом рекламы — притом он не потребует почти никаких затрат — станет введение
                            специальной рассылки; даже бесплатные службы вроде Mail.ru способны дать отличный эффект в плане продвижения.
                        h2 Коммуникация
                        p.
                            За счёт создания официального сайта организации можно минимизировать дистанцию между
                            потенциальным клиентом и сотрудниками, что благотворно скажется на лояльности. При
                            необходимости любой человек всегда может уточнить интересующую его информацию за счёт
                            изучения ресурса, звонка по указанному в соответствующем разделе телефону либо использования
                            окошка обратной связи. Более того, фирма с хорошим сайтом станет более узнаваемой: она
                            запомнится как минимум на подсознательном уровне.
                        h2 Увеличение продаж
                        p.
                            Из двух пунктов выше закономерно следует увеличение продаж, поскольку детально
                            ознакомившийся с продукцией либо услугами человек будет предельно готов стать вашим
                            клиентом. Естественно, необходимо сделать детальное описание получаемых выгод; например,
                            рассказать о способах оплаты и доставки товара.
                        h2 Коммерческая часть
                        p.
                            Создание корпоративного сайта может окупиться впоследствии в прямом смысле. Речь идёт о
                            размещении рекламных баннеров, за расположение которых на популярном сайте всегда хорошо
                            платят. Этот вариант не назвать универсальным: здесь нужно иметь полную уверенность в том,
                            что определенное количество рекламы «со стороны» не отпугнет ваших клиентов и
                            сотрудников; естественно, не стоит и перебарщивать.
                        h2 Создание корпоративного сайта под ключ: этапы
                        p.
                            Создание корпоративного ресурса — серьёзная задача, требующая и технической подкованности
                            со стороны программистов, и креативного подхода со стороны дизайнеров. Однозначного
                            алгоритма не существует — всё зависит от особенностей индивидуальной ситуации, — однако мы
                             постараемся выделить основные этапы в общем виде:
                        h3 Аналитика
                        p.
                            Прежде, чем приступать к созданию сайта организации либо учреждения, необходимо четко
                            сформулировать цели; желательно провести небольшое исследование, проанализировав
                            предпочтения и психологию целевой аудитории, существующие в этой области каноны
                            (ресурсы конкурентов), разобраться с бюджетом.
                        h3 Техническое задание
                        p.
                            По определению ТЗ — подробный план работ, включающий в себя структурные и дизайнерские
                            особенности разрабатываемого сайта. Именно на этом этапе определяется результат; оттого
                            клиент должен предельно четко и подробно излагать свои требования.
                        h3 Общая структура
                        p.
                            Создается примерный структурный план на программном уровне. Уточняется расположение
                            элементов и блоков, выбирается предпочтительный макет для верстки.
                        h3 Прототипы
                        p.
                            Специальные адаптивные прототипы дают возможность детального согласования всех
                            деталей проекта. Это позволяет исключить вероятность ошибки в плане создаваемого дизайна и
                            общей структуры на начальном этапе.
                        h3 Дизайн
                        p.
                            Адаптивный дизайн отражает внешний вид ресурса. Отнестись к этому этапу стоит с особенной
                            внимательностью, поскольку для корпоративного сайта внешний вид имеет особую важность.
                            Визуальная сторона определяет первое впечатление, притом верно это и применительно к
                            обычным клиентам и покупателям, и применительно к партнерам по бизнесу. Более того,
                            обращают внимание на подобные «мелочи» и сами сотрудники. Графическая концепция
                            отрабатывается на примере главной страницы.
                        h3 Верстка
                        p.
                            Верстка HTML-страниц — один из основных этапов, на котором концепции приобретают
                            техническое воплощение — HTML-код. Данный этап крайне важен, поскольку только правильно
                            сверстанный ресурс будет корректно работать на всех типах устройств — компьютерах,
                            телефонах, планшетах.
                        h3 Программные работы
                        p.
                            Программирование подразумевает установку системы управления контентом, после которой в код
                             в соответствии с особенностями индивидуальной ситуации вносят необходимые изменения.
                              Производится настройка и программирование всех модулей, появляются интерактивные
                              элементы: формы, кнопки и т.д.
                        h3 Интеграция
                        p.
                            Производится интеграция системы управления, настраиваются сервис и системы безопасности.
                        h3 Контент
                        p.
                            Иногда контент заготавливается заранее, иногда — уже после этапа интеграции. Любой ресурс
                            должен быть наполнен текстами, фотографиями и — желательно — видеороликами.
                        h3 Размещение
                        p.
                            Всю предоставленную клиентом информацию необходимо грамотно разместить — таким образом,
                            чтобы все составляющие дополняли друг друга и создавали цельную картину. Картинки и
                            анимация не должны мешать восприятию текстовой информации, а сами статьи должны быть
                            должным образом разделены на блоки для удобства чтения.
                        h3 SEO
                        p.
                            Если предполагается определенная «раскрутка» — популяризация ресурса — необходимо
                            использовать все современные способы, притом одной рекламой дело не ограничивается:
                            сайт должен быть иметь наполнение, к которому будут лояльны поисковые системы.
                        h3 Сервера
                        p.
                            Последний технический этап, подразумевающий настройку серверов (хостингов),
                            тестирование работы, оценку работоспособности. Сходу создать идеальный сайт
                            практически невозможно, оттого могут потребоваться небольшие правки кода и верстки;
                            также необходимо проверить контент на уникальность.
                            Остальное уже не относится непосредственно к разработке: все следующие
                            шаги уже будут делать оптимизаторы (заметим, что наша компания предлагает
                            также услуги продвижения) и сам клиент, которому и передается готовый сайт с
                            предоставлением возможности управления и внесения корректировок на всех уровнях.
                            Закономерно, что цена на создание сайта организации напрямую зависит от индивидуальной
                            сложности каждого из приведенных выше пунктов.



            //- FOOTER
            .bottom__footer
                include ../../../../../common/footer
