include ../../../common/_mixins
include ../../../common/_settings

section.contacts-bottom
    .bottom
        .container2
            //- SEND
            .bottom__send
                include ../../../common/sections/send
            //- FOOTER
            .bottom__footer
                include ../../../common/footer