include ../../../common/_mixins
include ../../../common/_settings

section.conts-first

    .conts-first__addr 109382, г. Москва, ул. Нижние Поля, 3

    .conts-first__list
        each item in contactsList
            a(href=item.href).conts-first__item= item.val

    .conts-first__pins
        button(type='button').conts-first__pin
            +icon('tel', 'conts-first__pin-svg')
            .conts-first__pin-title Заказать звонок
        button(type='button').conts-first__pin
            +icon('question', 'conts-first__pin-svg')
            .conts-first__pin-title Задать вопрос
        a(href='#').conts-first__pin
            +icon('pin', 'conts-first__pin-svg')
            .conts-first__pin-title м. Марьино
