include ../../../common/_mixins
include ../../../common/_settings

section.conts-map
    .conts-map__container
        button(type='button').conts-map__button показать на карте

    .conts-map__map
        button(type='button').conts-map__close
        .conts-map__wrap
            iframe(src="https://snazzymaps.com/embed/120408" width="100%" height="100%" style="border:none;")

