extends ../../../../../main.second.pug

block variables
    - var title = 'Реклама в ВКонтакте'

block content
    .smm
        include sections/first
        .container3
            include sections/price
            include sections/strategy
            include sections/result
            include sections/calc
            include sections/edge
        include sections/bottom
