include ../../../common/_mixins
include ../../../common/_settings

section.site-bottom
    .site__bottom
        .bottom
            //- REVIEWS
            .bottom__rev
                include ../../../common/sections/rev
            //- SEND
            .bottom__send
                include ../../../common/sections/send
            //- WHY
            .bottom__why
                include ../../../common/sections/why
            //- FOOTER
            .bottom__footer
                include ../../../common/footer