include ../../../common/_mixins
include ../../../common/_settings

section.site-first

    //- BREADCRUMBS
    .site-first__bread
        .bread
            a.bread__item Главная
            a.bread__item Продвижение
            a.bread__item.active Контекстная реклама

    //- title
    .site-first__title
        | Сделаем продающий промо-сайт
        br
        | за 50 000 Р всего за 1 месяц

    //- subtitle
    .site-first__subtitle
        | Комплексный подход к проектированию прототипов
        br
        | и программной разработке

    //- button
    .site-first__button
        +btn3('Узнать стоимость продвижения')
