include ../../../common/_mixins
include ../../../common/_settings

section.site-first
    .container

        //- BREADCRUMBS
        .site-first__bread
            include ../../../common/breadcrumbs

        //- title
        .site-first__title
            | Сделаем продающий промо-сайт
            br
            | за 50 000 Р всего за 1 месяц

        //- subtitle
        .site-first__subtitle
            | Комплексный подход к проектированию прототипов
            br
            | и программной разработке

        //- button
        .site-first__button
            +btn3('Узнать стоимость продвижения')
