include ../../../common/_mixins
include ../../../common/_settings

section(id="02").index-about

    //- TITLE
    .index-about__title
        +title('Компания, которая', 'отвечает', 'за результат', 'title_small')

    //- CONTENT
    .index-about__content
        p.
            Веб студия Web-comp специализируется на профессиональном создании уникальных сайтов на заказ.
            Команда наших специалистов постоянно следит за появлением новых технологий,
            которые мы не боимся внедрять в веб проекты, делая их современными и высокотехнологичными.
        p.
            Мы создаем только продающие сайты - это достигается путём детального изучения целевой аудитории,
             отрисовкой дизайна, проработки юзабилити и настройки технической части.


    //- IMAGE
    .index-about__image
        .figure
            .figure__block1
                img(src='images/content/about1.png').figure__pic
            .figure__block2
                img(src='images/content/about2.png').figure__pic
            .figure__block3
                img(src='images/content/about3.png').figure__pic
            .figure__block4
                img(src='images/content/about4.png').figure__pic


        .index-about__we
            .we
                .we__title Мы
                button(type='button' data-id='2').we__btn.nextSection
                    +btn('рассчитать стоимость')


    //- MENU
    .index-about__menu
        include ../../../common/menuTop
