extends ../main.first.pug

block variables
    - var title = 'Главная'

block content
    include sections/first
    include sections/about
    include sections/price
    include sections/cat
    include sections/seo
    include sections/bottom
