include ../common/_mixins
include ../common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=1920" name="viewport")

        title Web-comp | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper

            //- heeader
            include ../common/header

            //- pages
            .page.page_second

                //- aside
                include ../common/aside

                //- main
                main.main
                    block content


            //- footer
            //include ../common/footer

        //- popup
        .popup
            button(type='button').popup__close
                img(src='images/icons/close.png').popup__close-img
            .popup__wrapper

    script(src='js/vendor.min.js')
    script(src='js/smoke.js')
    script(src='js/main.min.js')
