include ../../../../../common/_mixins
include ../../../../../common/_settings

section.site-bottom
    .bottom
        .container2
            //- REVIEWS
            .bottom__rev
                include ../../../../../common/sections/rev
            //- SEND
            .bottom__send
                include ../../../../../common/sections/send
            //- WHY
            .bottom__why
                .why
                    .why__img
                        img(src='images/content/why.png').why__img-img
                    .why__title Создание сайта
                    .why__content
                        p.
                            Как известно, создание интернет-магазина является выгодным вложением средств. И если
                            вы решили потратить деньги на разработку, то для начала необходимо определиться со
                            структурой, дизайном и сроками реализации проекта. При этом если со структурой вопрос
                            решается быстро, то красивый дизайн — понятие относительное: для каждого проекта красота
                            дизайна может проявляться в совершенно разных аспектах сайта в зависимости от целей по
                            управлению вниманием посетителя. Сроки измеряются просто и формируются в зависимости
                            от варианта разработки веб-ресурса.
                        h2 Существует 4 способа получения интернет-магазина
                        ol
                            li Найм фрилансера
                            li Покупка готового интернет-магазина
                            li Самостоятельное изготовление на конструкторе
                            li Индивидуальный заказ в веб-студии
                        p.
                            Интернет-магазин, как и любой другой сайт является сложным продуктом и при создании
                            качественного проекта участвует большая команда специалистов: маркетологи, дизайнеры,
                             программисты, тестировщики, контент-менеджеры. Обращайтесь в Web-Comp, вы гарантированно
                             получите современный многофункциональный ресурс. Более подробно мы разбираем особенности,
                              плюсы и минусы способов разработки сайта в нашей статье.
                        h3 Сколько стоит создание интернет магазина под ключ
                        p.
                            По своей стоимости проекты значительно различаются и зависит это в большинстве случаев
                            от функционала. Интернет-магазин можно купить за 3000 руб. или потратить на него 800000
                            руб. — все зависит от поставленных перед проектом задач. Для удобства понимания, разделим
                            российский рынок веб-разработки на 3 сегмента.
                        h2 Высокий ценовой сегмент
                        p.
                            Здесь клиентами в основном являются крупные отечественные компании и госструктуры, а также зарубежные бренды. Зачастую такие проекты разрабатываются значительно дольше, чем более дешевые сайты. Компании ищут исполнителей на специальных тендерных площадках либо объявив закрытый конкурс. Исполнители в лице крупных веб-студий — это большой штат разноплановых специалистов. Цена на разработку интернет магазинов здесь составляет от 1 млн. рублей.
                        h2 Низкий ценовой сегмент
                        p.
                            Клиентами являются обычные граждане, начинающие предприниматели и микро предприятия. Нужно сказать, что в качестве исполнителей здесь выступают обыкновенные фрилансеры, результатом работы которых может стать проект довольно низкого качества. В данном ценовом сегменте есть и свои компании, однако работа таких организаций, как правило, автоматизирована: клиент становится владельцем низкопробного шаблонного ресурса, наполняет и решает проблемы с сайтом самостоятельно. Стоимость создания интернет магазина здесь обычно не превышает максимального значения в 30 тыс. рублей.
                        h2 Средний ценовой сегмент
                        p.
                            В данном сегменте заказчиками являются представители малого и среднего бизнеса. Такие проекты обычно интегрируются с IT-системами компаний и настраиваются для использования дополнительных аналитических инструментов. После продажи сайта, разработчик продолжает вести его в целях поддержки и развития ресурса. В основном здесь задействуют веб-студии среднего класса, активно применяющие средства групповой работы и участия в разработке смежных отделов. Гарантия на готовый интернет-магазин — 6-12 месяцев. Используются уникальные решения и индивидуальный подход к каждому проекту. Цены — от 60 тыс. до 1 млн. рублей.
                        p
                            |В компании Web-Comp на создание интернет магазина цена формируется в зависимости от выбранного плана разработки:
                            br
                            |Pro++ — от 169 900 рублей
                            br
                            |Pro — от 149 900 рублей
                            br
                            |Lite — от 129 900 рублей.
                        h2 Преимущества использования интернет-магазина
                        p.
                            Многие предприниматели не знают всех выгод создания продающего интернет магазина. Его использование актуально даже тогда, когда уже ведется оффлайн-торговля: клиент получает источник дополнительного дохода и расширения каналов сбыта.
                        h3 Перечислим 8 основных преимуществ, характерных именно для интернет-магазина
                        ol
                            li Нет ограничений по торговле по региону
                            li Для ведения бизнеса достаточно небольшого офиса
                            li Значительная экономия времени
                            li Неограниченные возможности показа товаров на «виртуальной витрине»
                            li Сайт может использоваться как основной или дополнительный источник дохода
                            li Доступность 24/7
                            li Во многих случаях достаточно всего одного консультанта
                            li С помощью интернет-магазина ведут торговлю и с небольшим ассортиментом, и предлагая тысячи наименований.
                        h3 На что стоит обратить внимание при выборе подрядчика
                        p.
                            Важный критерий — соотношение цены и качества (без необходимости последующей переделки ресурса). Также крайне важно учитывать возраст студии: чем дольше компания-подрядчик работает на рынке услуг, тем выше вероятность качественного результата, ведь в таком случае компания особенно дорожит своей репутацией.
                        p.
                            Изучая портфолио, обращайте внимание на визуальную и на функциональность макетов. В договоре услуги по созданию интернет магазина проверьте наличие согласованного функционала. Также не лишним будет изучить отзывы в интернете.
                        h3 Важные моменты разработки сайта интернет-магазина
                        p.
                            Очень важно активно участвовать в работе: обсуждать нюансы, объяснять свои потребности и прислушиваться к рекомендациям разработчика.
                        p.
                            Маркетинговая сторона разработки предполагает настройку взаимодействия с различными сервисами, например бухгалтерия или программы для складского учета. Кроме того, крайне важна прозрачность работы автоматической системы уведомлений и удобная навигация при поиске и заказе товаров, а также при написании отзывов. Не лишним будет создать специальный блок, мотивирующий поставить ссылку в соц. сетях на ваш интернет-магазин.
                        h3 Что следует уточнить на начальном этапе
                        p.
                            Прежде чем заказывать создание интернет магазина, спросите, сможет ли подрядчик сделать мобильную версию сайта адаптивного типа, а не просто дополнительную версию. Обязательно оговорите сроки выполнения заказа, и выясните, какие штрафные санкции предусмотрены в случае задержки. Убедитесь в том, что будет задействована удобная и простая в понимании система управления контентом (CMS), т.к. от этого будет зависеть скорость, простота, а следовательно и качество работы с сайтом.
                        h3 Что необходимо учесть при получении сайта
                        p.
                            Необходимо проверить, соответствие дизайн макетов страниц. Сайт должен корректно отображаться на всех устройствах — в обратном случае работа считается невыполненной. По возможности удостоверьтесь, что в CMS не вписаны коды вручную, так как в дальнейшем это может привести к необходимости переделки проекта, различным ошибкам, а также к низкой скорости работы сайта.
                        h3 Почему стоит выбрать магазин на Bitrix CMS
                        p.
                            CMS Bitrix занимает лидирующие позиции среди систем контроля содержимого веб-ресурсов. На данной CMS были созданы порталы крупнейших отечественных компаний: Евросеть, Эльдорадо, МТС, ГазпромНефть и др. Система идеально подходит для и интернет-магазинов.
                        h2 Основные преимущества CMS Bitrix следующие
                        ul
                            li Широкие возможности по функциональности
                            li Наличие подробного руководства на русском языке, с ответами на большинство популярных вопросов
                            li Возможность самостоятельного внедрения новых модулей и функций
                            li Работа по современным стандартам благодаря регулярным качественным обновлениям;
                            li Надежная защита от хакерских атак
                            li Предусмотрена интеграция с 1С и другими программами бухгалтерского, управленческого и складского учета;
                            li Круглосуточная профессиональная техподдержка
                        p.
                            Конечно, для низкобюджетных проектов Bitrix использовать неразумно, но для разработки крупного интернет магазина система подходит как нельзя лучше
                        h3 Юридическая сторона использования интернет-магазина
                        p.
                            Приобретение считается совершенным после передачи получателю товарного либо кассового чека или после сообщения покупателем о желании купить товар (ГК РФ, Статья 493). В полях о покупке должны быть отмечены: адрес и наименование продающей стороны, Ф.И.О. приобретателя, адрес доставки, наименование продукта, марка, артикул, вид, цена и число входящих в общий комплект предметов. Продающая сторона обязана предоставить данные о свойстве товара, изготовителе, стоимости, способе приобретения, о гарантии, названии и местонахождении офиса
                        h2 К товарам, запрещенным для свободной реализации, относятся
                        ul
                            li Алкоголь
                            li Драгоценности
                            li Лекарства
                            li Оружие
                        p.
                            На сайте необходимо поместить оферту для обработки личных данных и уведомить об этом Роскомнадзор. Перед началом разработки интернет магазина, как в Москве, так и в других городах, следует заключить соответствующий договор с исполнителем. В договоре обязательно указываются условия передачи прав покупателю. Фотографии и картинки необходимо приобретать в специальных фотобанках, так как в случае нарушения законодательства о персональных данных начисляется штраф в размере до 10 000 рублей (КоАП РФ, Статья 13.11).
                        h3 Как правильно организовывать работу
                        p.
                            Кроме технической стороны вопроса, важно помнить о коммерческих аспектах создания бизнеса.
                        h2 Общая схема организации работы интернет-магазина включает 9 этапов
                        ol
                            li Налаживание взаимодействия с поставщиками
                            li Формирование ассортимента
                            li Публикацию контента
                            li Применение актуальных механизмов привлечения покупателей
                            li Настройку способов обработки заказов
                            li Интеграцию систем для приема платежей
                            li Организацию доставки товаров
                            li Организацию работы с возвратами
                            li Применение различных способов по удержанию клиента
                        p.
                            Таким образом, создание и правильная организация интернет-магазина — это довольно сложное дело. Но усилия здесь оправдываются положительным результатом от проделанной работы. Для разработки интернет магазина под ключ обращайтесь в студию создания и продвижения сайтов Web-Comp. Вы можете связаться с менеджерами через форму обратной связи (потребуется указать имя и телефон), либо позвонив по номеру 8 (800) 333-45-98 или +7 (495) 150-45-98. Заявки также принимаются на электронную почту info@web-comp.ru. Если вы хотите подробнее обсудить все аспекты проекта, мы ждем вас в гости - наш адрес: г. Москва, ул. Нижние Поля, 31.



            //- FOOTER
            .bottom__footer
                include ../../../../../common/footer
