include ../../../../../common/_mixins
include ../../../../../common/_settings

-
    var breadcrumbs = {
    links: [
    {
    url: './',
    title: 'Главная'
    }
    ],
    alink: 'E-commerce'
    };

section.site-first
    .container

        //- BREADCRUMBS
        .site-first__bread
            .bread
                each bread in breadcrumbs.links
                    a(href=bread.url).bread__item= bread.title
                a.bread__item.active= breadcrumbs.alink

        //- title
        .site-first__title
            | Сделаем продающий промо-сайт
            br
            | за 50 000 Р всего за 1 месяц

        //- subtitle
        .site-first__subtitle
            | Комплексный подход к проектированию прототипов
            br
            | и программной разработке

        //- button
        button(type='submit').site-first__button.callorderOpen
            +btn3('Узнать стоимость продвижения')
