extends ../main.second.pug

block variables
    - var title = 'Быстрый способ поднять конверсию на сайте'

block content
    .art
        .container3
            include sections/first
            include sections/desc
            include sections/banner
            include sections/comments
            include sections/send
            include sections/news
        include sections/bottom
