extends ../main.second.pug

block variables
    - var title = 'SMM Продвижение'

block content
    .theme
        include sections/first
        .container3
            include sections/edge
        include sections/bottom
