include ../../../common/_mixins
include ../../../common/_settings

section.seo-first

    .container
        //- BREADCRUMBS
        .seo-first__bread
            include ../../../common/breadcrumbs

        //- TITLE
        .seo-first__title
            |SEO продвижение
            br
            |с оплатой за результат

        //- SUBTITLE
        .seo-first__subtitle
            | Продвигаем бесплатно пока сайт
            br
            | не выйдет в ТОП

        //- BUTTON
        button(type='button').seo-first__button.callorderOpen
            +btn('Хочу увеличить продажи')
