include ../../../common/_mixins
include ../../../common/_settings

section.smm-first

    .container
        //- BREADCRUMBS
        .smm-first__bread
            include ../../../common/breadcrumbs

        //- TITLE
        .smm-first__title
            |SEO продвижение
            br
            |с оплатой за результат

        //- SUBTITLE
        .smm-first__subtitle
            | Продвигаем бесплатно пока сайт
            br
            | не выйдет в ТОП

        //- BUTTON
        .smm-first__button
            +btn3('Хочу увеличить продажи')
