include ../../../common/_mixins
include ../../../common/_settings

section.host-bottom
    .bottom
        .container2
            //- SEND
            .bottom__send
                include ../../../common/sections/send
            //- WHY
            .bottom__why
                .why
                    .why__img
                        img(src='images/content/why.png').why__img-img
                    //.why__title Создание сайта
                    .why__content
                        p.
                            На нашем хостинге информация клиента надёжно защищена, а это важно для каждого владельца сайта. Каждый наш клиент имеет возможность хранить всю информацию на оптимизированном сервере, который настроен под требования проекта и отличается скоростью работы и надёжностью. Сегодня есть и компании, которые готовы предоставить место на своем сервере абсолютно бесплатно, но при этом рассчитывать на высокое качество хостинга просто бессмысленно. Связанно это с тем, что хостинг предоставляет высоконагруженную систему компьютеров, которую необходимо постоянно обслуживать технически в круглосуточном режиме. Наша компания может предложить вам недорогой хостинг для сайта, благодаря которому все пользователи будут иметь стабильный доступ к вашему ресурсу и при этом вся информация будет надежно защищена от вирусов и хакерских атак.
                        h2 Рекомендации по тарифному плану
                        p.
                            Так как на всех наших тарифах хостинга одинаково-быстрые сервера и современное программное обеспечение, вам необходимо выбрать только размер дискового пространства для вашего сайта.
                        p.
                            Если у вас нет сайта, то наши специалисты проконсультируют вас по оптимальному решению. В случае если вы хотите перенести свой проект к нам, необходимо проверить размер вашего действующего сайта и в соответствии с этим определиться по месту на хостинге. Сделать это можно в разделе действующего личного кабинета у вашего провайдера. Если вы не хотите тратить свое время на выяснение этих характеристик позвоните нам +7 (495) 150-45-98 и мы сделаем перенос сайта на хостинг под ключ бесплатно!
                        p.
                            Выбрав наш качественный хостинг для сайта на вордпресс(wordpress), joomla, OpenCart, Битрикс вы сможете в минимальные сроки популяризировать свой ресурс, будь то обычный блог, большой интернет-магазин или портал.
            //- FOOTER
            .bottom__footer
                include ../../../common/footer