include ../../../common/_mixins
include ../../../common/_settings

section.host-cont
    .content
        h3 Получите железные гарантии на результат
        p Для каждого владельца сайта крайне важно, чтоб информация его страницы была надежно защищена, а пользователи имели бесперебойный доступ к ней в любое время суток. Специально для этого существует хостинг. Благодаря этому каждый владелец сайта имеет возможность хранить всю информацию сайта на определенном сервере, который предоставляется хостинг провайдером. Разумеется, такая услуга не бесплатная и за нее придется заплатить. Однако сегодня есть и компании, которые готовы предоставить место на своем сервере абсолютно бесплатно, но при этом рассчитывать на высокое качество хостинга просто бессмысленно. Наша компания может предложить вам недорогойхостинг для сайта, благодаря которому все пользователи будут иметь стабильным доступ к вашему ресурсу. При этом вся информация будет надежно защищена от вирусов и хакерских атак.
        p Также немаловажно при выбора хостинг провайдера — круглосуточная техподдержка. Благодаря этому любые проблемы, связанные с работоспособностью вашего ресурса будут решены в любое время суток, а пользователи совсем скоро смогут вновь посетить ваш сайт.
        p При выборе хостинга также не стоит забывать и о пространстве, которое необходимо для хранения данных вашего сайта. У нас в зависимости от тарифа вы сможете приобрести от 1 до 50 Гб места на SDD, при этом цены на хостинг существенно отличаются. Создание резервной копии сайта — одна из главных задач хостинг провайдера, что позволит в кратчайшие сроки восстановить доступ в случае обнаружения вирусов и ошибок.
        p Подобрав качественный хостинг для сайта на вордпресс(wordpress), joomla, вы сможете в минимальные сроки популяризировать свой ресурс, будь то обычный блог или большой интернет-магазин.