include ../../../common/_mixins
include ../../../common/_settings

section.host-tarifs
    .proportion.proportion_1558x787
    .host-tarifs__list
        each item in hostTarifs
            .host-tarifs__item
                img(src= item.src).host-tarifs__img
                .host-tarifs__tag
                    .host-tarifs__title= item.tarif
                    .host-tarifs__sub тариф
