extends ../main.second.pug

block variables
    - var title = 'SMM Продвижение'

block content
    .port
        //include sections/first
        include sections/laptop
        .container3

        include sections/bottom
