include ../../../common/_mixins
include ../../../common/_settings

section.port-bottom
    .bottom
        .container2
            //- SEND
            .bottom__send
                include ../../../common/sections/send
            //- WHY
            .bottom__why
                include ../../../common/sections/why
            //- FOOTER
            .bottom__footer
                include ../../../common/footer