include ../../../common/_mixins
include ../../../common/_settings

section(style='background: url(../images/bg/portBg.jpg) 0 0 no-repeat;').port-first

    .container
        //- BREADCRUMBS
        .port-first__bread
            include ../../../common/breadcrumbs
