include ../../../common/_mixins
include ../../../common/_settings

section(style='background: #ffb40c;').port-icons
    .port-icons__title Иконки
    .port-icons__icons
        img(src='images/content/portfolio/icons/icons.png').port-icons__img

