include ../../../common/_mixins
include ../../../common/_settings

section(style='background: url("images/bg/portBg.jpg") 0 0 no-repeat;').port-lap

    .container3

        //- BREADCRUMBS
        .port-lap__bread
            -
                var breadcrumbs = {
                links: [
                {
                url: './',
                title: 'Главная'
                }
                ],
                alink: 'Портфолио'
                };
            .bread
                each bread in breadcrumbs.links
                    a(href=bread.url).bread__item= bread.title
                a.bread__item.active= breadcrumbs.alink


        //- Wrapper
        .port-lap__wrapper
            .proportion.proportion_1214x685
            .port-lap__wrap
                .port-lap__container
                    .proportion.proportion_750x470
                    .port-lap__before
                        .port-lap__drug.draggable
                        .port-lap__before-wrap
                            img(src='images/content/portfolio/laptop/before.jpg').port-lap__img
                    .port-lap__after
                        img(src='images/content/portfolio/laptop/after.jpg').port-lap__img