include ../../../common/_mixins
include ../../../common/_settings

section(style='background: #363471;').port-pages

    //- title
    .port-pages__title
        | Больше
        br
        | страниц

    //- arrow
    .port-pages__arrow
        img(src='images/icons/arrow.png').port-pages__arrow-img

    //- images
    .port-pages__imgs
        img(src='images/content/portfolio/pages.png').port-pages__img




