include ../../../common/_mixins
include ../../../common/_settings

section(style='background: #363471;').port-proj
    //- left
    .port-proj__left
        .proportion.proportion_1009x1831
        .port-proj__img
            img(src='images/content/portfolio/project.jpg').port-proj__img-img
    //- right
    .port-proj__right

        //- title
        div(style='background: #ffb40c; padding-bottom: 148px').port-proj__title
            | Каталог
            br
            | товаров

        //- list
        div(style='background: #ffffff; padding-bottom: 321px').port-proj__list
            div(style='margin-bottom: 305px;').port-proj__item
                .port-proj__item-title умный фильтр
                    .port-proj__item-line
                .port-proj__item-desc Разработка умного фильтра по типу выбора товара и отображение полных характеристик в карточке товара.
            .port-proj__item
                .port-proj__item-title Карточка товара
                    div(style='width: 870px;').port-proj__item-line
                .port-proj__item-desc Удобная и продуманнная карточка товра с учетом запросов пользователя

        //-recom
        div(style='padding-bottom: 71px; background: #363471;').port-proj__recom
            .port-proj__recom-title Рекомендации
                .port-proj__recom-line
            .port-proj__recom-desc
                | Реализован удобный функционал
                | по составлению комплектов для товара
                | и подбору рекомендуемой продукции




