extends ../main.second.pug

block variables
    - var title = 'SMM Продвижение'

block content
    .conts
        .container3
            include sections/first
            include sections/map
        include sections/bottom
