extends ../main.first.pug

block variables
    - var title = 'Главная'
     - var pagOff = true
    - var headerOn = true

block content
    .comp
        .container
            include sections/first
            include sections/rewards
            include sections/standarts
            include sections/ratings
            include sections/bottom
