extends ../main.second.pug

block variables
    - var title = 'Продвижение SEO'

block content
    .seo
        include sections/first
        .container3
            include sections/desc
            include sections/cats
            include sections/price
            include sections/faq
        include sections/bottom
