//variables
$vh: 1100;
$vw: 1920;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@function vw($size) {
  @return $size/$vw *100*1vw;
}
@mixin content() {

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
  }

  p {
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 20px;
      padding-left: 40px;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 13px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background: $Selective-yellow;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@mixin headers() {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}