extends ../../../main.second.pug

block variables
    - var title = 'Landing page'

block content
    .site
        include sections/first
        .container
            include sections/middle
        include sections/bottom
