extends ../../../../../main.second.pug

block variables
    - var title = 'Строительная компания'

block content
    .theme
        include sections/first
        .container3
            include sections/issue
            include sections/cats
            include sections/edge
            include sections/price
        include sections/bottom
