extends ../main.first.pug

block variables
    - var title = 'Главная'

block content
    .index
        .container
            include sections/first
            include sections/about
            include sections/price
            include sections/cat
            include sections/seo
            include sections/bottom
