extends ../main.second.pug

block variables
    - var title = 'SMM Продвижение'

block content
    .rek
        include sections/first
        .container3
            include sections/desc
            include sections/edge
        include sections/bottom
