include ../../../common/_mixins
include ../../../common/_settings

section.promote-first

    //- BREADCRUMBS
    .promote-first__bread
        include ../../../common/breadcrumbs

    //- TITLE
    .promote-first__title
        +title('Хотите сайт в топ?', 'мы знаем', 'как это сделать', 'title_small title_small2')

    //- SUBTITLE
    .promote-first__subtitle
        | Увеличим Ваши продажи, количество звонков, заявок
        br
        | и заказов с сайта за счет роста целевого трафика и вывода Вашего сайта
        br
        | в ТОП-10 Яндекса и Google

    //- BUTTON
    .promote-first__button
        +btn3('Узнать стоимость продвижения')