include ../../../common/_mixins
include ../../../common/_settings

section.promote-rec

    //- title
    .promote-rec__title Рекомендации наших клиентов

    //- list
    .promote-rec__list
        each item in [1,2,3,4,5]
            a(href='/' download=true).promote-rec__item
                .promote-rec__img
                    img(src='images/content/promote/recImg.svg').promote-rec__pic
                    .promote-rec__logo
                        img(src='images/content/promote/recLogo.png').promote-rec__logo-img
                .promote-rec__name Рекомендательное письмо

