include ../../../common/_mixins
include ../../../common/_settings

section.promote-work

    //- title
    .promote-work__title
        img(src='images/content/promoteWork.png').promote-work__title-img

    //- list
    .promote-work__list
        .promote-work__item
            .promote-work__number
                .promote-work__number-val
                .promote-work__number-img