include ../_mixins
include ../_settings

.banner-send
    .banner-send__title Хотите сайт в  топ?
    .banner-send__sub
        | Подпишитесь на рассылку и получайте практические советы
        br
        | по продвижению сайта
    form(action='#' method='post').banner-send__form
        input(type='email' name='email' placeholder='E-mail').banner-send__input
        button.banner-send__submit
            +arrow('arrow_white')