include ../_mixins
include ../_settings

.bottom
    //- REVIEWS
    .bottom__rev
        include rev
    //- SEND
    .bottom__send
        include send
    //- WHY
    .bottom__why
        include why
    //- FOOTER
    .bottom__footer
        include ../footer