extends ../main.second.pug

block variables
    - var title = 'SMM Продвижение'

block content
    .smm
        include sections/first
        .container3
            include sections/price
        include sections/bottom
