.cat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-left: -325px;
  padding-left: 325px;
  overflow: hidden;
  padding-right: 350px;

  &__title {
    font-size: 63px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: vh(20);
  }

  &__subtitle {

    color: $Selective-yellow;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    margin-bottom: vh(70);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__item {
    width: 25%;
    position: relative;

    &:hover {
      .cat__item-pic {
        transform: scale(1.2);
      }
    }

    &-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-pic {
      display: block;
      transition: .4s;
    }
  }


  &__menu {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 325px;
    right: vw(140);
  }
}