@mixin container {
  margin-left: -325px;
  padding-left: 325px;
}

.comp {

  &-first {

  }

  &-rew {
    @include container;
    background: url("../images/bg/companyRewardsBg.jpg") 0 0 no-repeat;
    background-size: cover;
    padding-top: 150px;

    display: flex;
    flex-direction: column;
    //justify-content: center;

    &__title {
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      margin-bottom: vh(60);

      &-text {

        font-size: 114px;
        font-weight: 500;

        &_y {
          color: $Selective-yellow;
        }
      }

      &-sep {
        width: 23px;
        height: 23px;
        border: 3px solid $text;
        opacity: 0.5;
        margin: 0 15px;
      }
    }

    &__desc {
      font-size: 30px;
      font-weight: 300;
      line-height: 50px;
      margin-bottom: auto;
    }

    &__list {
      margin-top: vh(60);
      display: flex;
      flex-wrap: wrap;
      margin-left: -80px;
      margin-right: -80px;
    }

    &__item {
      padding: 0 80px;
      padding-bottom: 100px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgba(#fff, 0) 0%, rgba(#fff, 0.5) 100%);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }


      &-title {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
      }
      &-val {
        opacity: 0.7;
        font-size: 200px;
        font-weight: 100;
        line-height: 0.9;
      }
      &-type {
        font-size: 60px;
        font-weight: 300;
        opacity: 0.7;
      }

      &-text {
        color: $Selective-yellow;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

  }


  &-stand {
    @include container;
    background: url("../images/bg/companyStandartsBg.jpg") center center no-repeat;
    background-size: cover;
    padding-right: 280px;
    padding-top: vh(283);

    //display: flex;
    //flex-direction: column;
    //justify-content: center;

    &__title {
      color: $text;
      font-size: 70px;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: vh(120);

      &-big {
        font-size: 1.8285em;
        margin-bottom: 13px;
      }

      &-line {
        display: flex;
        padding-left: 1.54285em;
      }

      &-small{
        font-size: 0.471em;
        color: $Selective-yellow;
        margin-right: 1.06em;
      }
      &-text {
        line-height: 0.75;
      }


    }

    &__desc {
      margin-left: -80px;
      margin-right: -80px;
      display: flex;
      flex-wrap: wrap;
    }

    &__col {
      width: calc(50% - 160px);
      margin-left: 80px;
      margin-right: 80px;

      font-size: 30px;
      font-weight: 300;
      line-height: 50px;
    }
  }
}