.seo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: -325px;
  padding-left: 325px;
  overflow: hidden;
  padding-right: 300px;

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: vh(70);
  }

  &__menu {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 325px;
    right: vw(140);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: vh(70);
  }

  &__item {
    padding: 12px 30px;

    &-title {
      color: rgba($text,.5);
      font-size: 32px;
      font-weight: 300;
      transition: .4s;
      cursor: pointer;
    }
  }

  &__label {
    display: block;
  }

  &__input {
    display: none;

    &:checked+.seo__item-title {
      color: $text;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}