.smm {
  background: url("../images/bg/promoteBg.jpg") 0 0 no-repeat;
  background-size: cover;

  &-first {
    padding-top: 230px;
    padding-bottom: 80px;
    background: url(../images/bg/smmBg.jpg) 0 0 no-repeat;
    background-size: cover;

    &__bread {
      margin-bottom: 70px;
    }

    &__title {
      font-size: 60px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
    }

    &__subtitle {
      color: #a4a4a4;
      font-size: 33px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 110px;
    }

    &__socials {
      width: 100%;
      padding: 0 110px;
      margin-bottom: 65px;

      &-wrap {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &__social {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__img {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 45px;
    }
    &__val {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
    &__text {
      color: rgba($text,.5);
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;
      text-align: center;
      margin-bottom: 30px;
    }
    &__arrow {
      width: 175px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-price {
    background: url("../images/bg/smmPriceBg.jpg") 0 -200px no-repeat;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(100%/3);
      padding: 50px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $bg;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        top: 0;
        bottom: 0;
        right: -1px;
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(136,136,138,1) 100%);
      }
    }
    &__title {
      font-size: 21px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    &__ul {
      margin-bottom: 40px;
    }

    &__li {
      display: flex;
      font-size: 17px;
      font-weight: 300;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '—';
        margin-right: 10px;
      }
    }

    &__bottom {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
    }
    &__price {
      font-size: 21px;
      font-weight: 500;
    }
    &__percent {
      font-size: 21px;
      font-weight: 500;
    }
  }


  .bottom {
    background: none;
    //padding-top: 120px;
  }
}