include ../../../../../common/_mixins
include ../../../../../common/_settings

section.site-bottom
    .bottom
        .container2
            //- REVIEWS
            .bottom__rev
                include ../../../../../common/sections/rev
            //- SEND
            .bottom__send
                include ../../../../../common/sections/send
            //- WHY
            .bottom__why
                .why
                    .why__img
                        img(src='images/content/why.png').why__img-img
                    .why__title Создание сайта
                    .why__content
                        p.
                            Сайт Визитка – это отличный инструмент для презентации как компании, так и персоны в
                            интернете. Такой вид сайта быстро создаётся и настраивается. Сайт будет работать на Вас
                            круглосуточно, без перерывов и выходных, рассказывая о вас и ваших персональных услугах,
                            позволит продавать товары или собирать целевую аудиторию в одном месте. Если Вам нужен
                            недорогой сайт визитка, соответствующий всем стандартам - заказывайте в нашей студии
                            web-comp. В комплекте вы получаете ряд бесплатных приятных бонус такие как: подбор и
                            регистрация домена, оплаченный хостинг на 2 месяца и техническую поддержку.
                        h2 Почему стоит заказать у нас
                        ul
                            li Включено: Домен на 1 год
                            li Включено: Хостинг на 2 месяца
                            li Техническая поддержка
                            li Индивидуальный подход к проекту
                            li Защита сайта от DDos-атак
                            li Комплексный подход к задаче
                            li Рекомендации по развитию
                            li Проводим аудит конкурентов
                            li Используем только новые стандарты
                            li Соблюдаем сроки
                            li Генерируем контент
                            li Помогаем наладить рабочие процессы
                        h2 Отвечаем за эффективность
                        p.
                            Почему у нас дороже? При разработке сайта-визитки нужно учитывать дополнительные
                            услуги, которые потребуются при наличии полноценного сайта в интернете. К ним относится
                            регистрация доменного имени ( http://сайт.ru ), также сайт должен быть расположен на
                            сервере в интернете для всеобщей доступности, сервер должен отвечать определённым
                            требованиям, которые влияют на качество работы ресурса.В большинстве случаев понадобятся
                            консультации по работе с сайтом, его развитию и привлечению клиентов. Все работы по аудиту
                            также включены в стоимость создания сайта.
                        p.
                            Комплексный подход - это экономия вашего времени, мы подготовим максимум информации
                            по вашей тематике, которую в дальнейшем вы сможете использовать при развитии ресурса.
                            Доверив выполнение работ профессионалам вы получаете быстрое и качественное выполнение
                             поставленных задач и достижение целей.


            //- FOOTER
            .bottom__footer
                include ../../../../../common/footer

