include ../../../common/_mixins
include ../../../common/_settings

section.rek-slider

    //- TITLE
    .rek-slider__title С нами уже работают

    //- slider
    .rek-slider__swiper
        include ../../../common/sections/slider2