extends ../main.second.pug

block variables
    - var title = 'SMM Продвижение'

block content
    .text
        .container3
            include sections/first
            include sections/desc
        include sections/bottom
