include ../../../common/_mixins
include ../../../common/_settings

section.art-banner
    .art-banner__left
        .art-banner__title Решайте задачи правильно
        .art-banner__sub
            | Задайте вопрос специалисту и получите развернутый
            br
            | ответ и варианты решения вашей задачи
            .art-banner__arrow
                +arrow('arrow_red')

    .art-banner__right
        button.art-banner__button Задайте вопрос специалисту
