include ../../../common/_mixins
include ../../../common/_settings

section.art-desc
    .art-desc__row

        //- left
        .art-desc__left
            .art-desc__content.content
                p Для каждого бизнеса важен показатель конверсии. Это процент от всех посетителей сайта, офиса или магазина компании, который показывает количество покупателей. Если не работать с поднятием показателей обращений с проекта, бизнес в интернете не может быть успешным. Вкладывая огромные средства в рекламу, вы будете получать прежние результаты и постепенное снижение эффективности вложений.
                p(style='margin-bottom: 60px;') С удобным блоком онлайн консультанта на вашем сайте более 20% посетителей станут на шаг ближе к покупке. Исследования показывают, что наличие интерактивной формы обратной связи, такой как JivoSite, повышает конверсию в 2-3 раза без других изменений на проекте.

                h3 Почему блок онлайн консультанта повышает конверсию?
                p Проблема многих коммерческих проектов в плохом юзабилити. Ваши потенциальные клиенты не будут читать большие статьи и руководства, чтобы получить нужную информацию. Гораздо проще обратиться в постоянно активное окно и задать вопрос интерактивному помощнику. Есть несколько важных преимуществ использования функции JivoSite:
                p
                    ul
                        li Возможность настройки внешнего вида и функций программы для общения с клиентом;
                        li Простая модерация, вся история сохраняется, вы можете внести необходимые сценарии;
                        li Подключение роботов и возможность создания нужных функций конкретно для вашей сферы;
                        li Простое подключение, не нужно знать языки программирования и думать над дизайном;
                        li Простое управление, удобные оповещения, невозможно пропустить сообщение от клиента;
                        li Создание форм для заказа, реализация дополнительных коммерческих возможностей.

                p На сайтах коммерческих организаций подобная форма общения с консультантом значительно повышает юзабилити. Клиенту не нужно долго ходить по ссылкам и искать информацию о стоимости, гарантиях, сроках. Он может задать вопрос и получить ответ в течение нескольких секунд. Эта возможность не просто ускоряет процесс оформления заказа, но и реально увеличивает отдачу от вашего проекта.

            .art-desc__socials
                a(href='./' target='_blank').art-desc__social
                    +icon('vk', 'art-desc__social-svg')
                    .art-desc__social-count 2
                a(href='./' target='_blank').art-desc__social
                    +icon('fb', 'art-desc__social-svg')
                    .art-desc__social-count 3
                a(href='./' target='_blank').art-desc__social
                    +icon('insta', 'art-desc__social-svg')
                    .art-desc__social-count 1


        //- right
        .art-desc__right
            //- slider
            .art-desc__slider
                .swiper-container.art-desc__swiper
                    .swiper-wrapper
                        each val in [1,2,3,4,5]
                            .swiper-slide.art-desc__slide
                                .proportion.proportion_1x1
                                .art-desc__slide-img
                                    img(src='images/content/article/art1.jpg').art-desc__slide-pic

                .art-desc__arrows
                    .art-desc__prev
                        +arrow('arrow_prev arrow_red')
                    .art-desc__next
                        +arrow('arrow_red')


            //- categories
            .art-desc__cats
                .art-desc__cats-title Категории
                .art-desc__cats-list
                    each cat in articleCats
                        a(href='./news.html').art-desc__cat
                            span.art-desc__cat-title= cat.title
                            span.art-desc__cat-count= ' ('+cat.count+')'