include ../../../common/_mixins
include ../../../common/_settings

section.text-desc
    .text-desc__row

        //- left
        .text-desc__left
            .text-desc__content.content
                p Для каждого бизнеса важен показатель конверсии. Это процент от всех посетителей сайта, офиса или магазина компании, который показывает количество покупателей. Если не работать с поднятием показателей обращений с проекта, бизнес в интернете не может быть успешным. Вкладывая огромные средства в рекламу, вы будете получать прежние результаты и постепенное снижение эффективности вложений.
                p(style='margin-bottom: 60px;')
                    |С удобным блоком онлайн консультанта на вашем сайте более 20% посетителей станут на шаг ближе к покупке. Исследования показывают, что
                    a  наличие интерактивной формы обратной связи,
                    |такой как JivoSite, повышает конверсию в 2-3 раза без других изменений на проекте.

                h3 Почему блок онлайн консультанта повышает конверсию?
                p Проблема многих коммерческих проектов в плохом юзабилити. Ваши потенциальные клиенты не будут читать большие статьи и руководства, чтобы получить нужную информацию. Гораздо проще обратиться в постоянно активное окно и задать вопрос интерактивному помощнику. Есть несколько важных преимуществ использования функции JivoSite:
                p
                    ul
                        li Возможность настройки внешнего вида и функций программы для общения с клиентом;
                        li Простая модерация, вся история сохраняется, вы можете внести необходимые сценарии;
                        li Подключение роботов и возможность создания нужных функций конкретно для вашей сферы;
                            ul
                                li Простое подключение, не нужно знать языки программирования и думать над дизайном;
                                li Простое управление, удобные оповещения, невозможно пропустить сообщение от клиента;
                        li Создание форм для заказа, реализация дополнительных коммерческих возможностей.

                p На сайтах коммерческих организаций подобная форма общения с консультантом значительно повышает юзабилити. Клиенту не нужно долго ходить по ссылкам и искать информацию о стоимости, гарантиях, сроках. Он может задать вопрос и получить ответ в течение нескольких секунд. Эта возможность не просто ускоряет процесс оформления заказа, но и реально увеличивает отдачу от вашего проекта.

        //- right
        .text-desc__right
            //- slider
            .text-desc__slider
                .swiper-container.text-desc__swiper
                    .swiper-wrapper
                        each val in [1,2,3,4,5]
                            .swiper-slide.text-desc__slide
                                .proportion.proportion_1x1
                                .text-desc__slide-img
                                    img(src='images/content/text/img.jpg').text-desc__slide-pic

                .text-desc__arrows
                    .text-desc__prev
                        +arrow('arrow_prev arrow_red')
                    .text-desc__next
                        +arrow('arrow_red')