include ../../../common/_mixins
include ../../../common/_settings

section.text-first

    //- BREADCRUMBS
    .text-first__bread
        include ../../../common/breadcrumbs

    //- title
    .text-first__title
        | Web-comp – профессионалы
        br
        | с многолетним опытом