include ../../../../../../../common/_mixins
include ../../../../../../../common/_settings

section.smm-res

    //-title
    .smm-res__title ЛитРес:

    //-subtitle
    .smm-res__sub
        .smm-res__sub-item
            span.smm-res__sub-title Описание:
            span.smm-res__sub-text  Лидер на рынке электронных книг: Россия, СН
        .smm-res__sub-item
            span.smm-res__sub-title Цель:
            span.smm-res__sub-text
                |Создать и развить за полгода группу ВКонтакте, которая будет давать  трафик
                br
                |на сайт до 1000 переходов в месяц и  генерировать около 50 обращений



    //- list
    .smm-res__list
        each i in smmRes
            div(style='background-image:url('+i.src+')').smm-res__item
                .smm-res__item-title
                    .smm-res__item-val= i.val
                    if i.type
                        .smm-res__item-type= i.type
                .smm-res__item-text= i.text

    //- button
    button(type='button').smm-res__button.button.callorderOpen заказать продвижение
