include ../../../common/_mixins
include ../../../common/_settings

section.index-bottom.comp-bottom


    .index-bottom__wrapper

        //- VACANCY
        .comp-vac
            .comp-vac__title
                | Мы растем, у нас все больше
                br
                | проектов и направлений

            .comp-vac__sub
                |Команда активно расширяется. Поэтому мы находимся в постоянных поисках
                br
                |новых людей, способных сделать нас еще круче.

            .comp-vac__list
                .comp-vac__item
                    .comp-vac__to Чтобы было вкусно смотреть
                    .comp-vac__prof Дизайнер в digital подразделение
                    .comp-vac__content
                        p(style='text-transform: uppercase;') Москва       /      Полная занятость, полный день       /      Опыт работы:1-3 года
                        p Мы ищем дизайнера, который будет работать с клиентами на поддержке. Новый боец не должен терять концентрации и готов делать большой объем задач в короткие сроки.
                        h4 Дизайнер, которого мы ищем, будет:
                        ul
                            li работать в паре с арт-директором и развивать дизайн-концепцию на digital носители;
                            li разрабатывать дизайн-макеты посадочных страниц, баннеров и создавать key visuals;
                            li отвечать за дизайн-системы топовых клиентов;
                            li участвовать в создании промо-сайтов и лендингов.
                .comp-vac__item
                    .comp-vac__to Чтобы было больше денег
                    .comp-vac__prof Специалист по работе с новыми клиентами
                    .comp-vac__content
                        p Человек, способный силой рук поднять телефонную трубку или ответить на email нового клиента. Силой мысли привлечь крутой проект и составить коммерческое предложение. Клиентофил, клиентоман, или просто менеджер по работе с новыми клиентами.
                .comp-vac__item
                    .comp-vac__to Чтобы был выше рейтинг
                    .comp-vac__prof Программист PHP
                    .comp-vac__content
                        p Это возможность продолжить свою карьеру и прокачаться в профессиональной команде разработки сайтов лидирующей компании отрасли. На сегодняшний день мы занимаем второе место среди двухсот лучших разработчиков сайтов по версии Рейтинга Рунета.
        //- REVIEWS
        .index__rev
            include ../../../common/sections/rev

        //- SEND
        .index__send
            include ../../../common/sections/send
        //- WHY
        .index__why
            include ../../../common/sections/why
        //- WHY
        .index__footer
            include ../../../common/footer
