include ../../../common/_mixins
include ../../../common/_settings

section(id="01" class='comp-first index-first active-page')

    //- TITLE
    .index-first__title
        .title
            .title__line
                .title__text Cоздаем сайты,
            .title__line
                span.title__text.title__text_small которые
                span.title__text продают


    //- IMAGE
    .index-first__image

        .index-first__img
        .index-first__we
            .we
                .we__title Мы
                button.we__btn.callorderOpen
                    +btn('Заказать сайт')
