include ../../../common/_mixins
include ../../../common/_settings

section.comp-stand

    //- TITLE
    .comp-stand__title
        .comp-stand__title-big Стандарты
        .comp-stand__title-line
            .comp-stand__title-small которые
            .comp-stand__title-text соблюдаем

    //- DESC
    .comp-stand__desc
        .comp-stand__col
            | Все наши специалисты ежегодно
            | проходят обучение и подтверждают свою квалификацию внутренними экзаменами
            | и тестированием. Качество наших работ соответствуют общепринятым стандартам web разработки
        .comp-stand__col
            | У каждого отдела существует регламент, по которому происходит работа. Перед сдачей проекта, продукт тестируется тщательным образом, что позволяет также обеспечить высокое качество разработки
