include ../../../../../common/_mixins
include ../../../../../common/_settings

section.seo-desc
    .seo-desc__row
        //- left
        .seo-desc__left
            .seo-desc__block.content
                h3 Получите железные гарантии на результат
                p Выбирая вариант продвижения с оплатой за результат вы гарантированно оплачиваете только те запросы по которым ваш сайт находиться в поиске. Если по продвигаемым ключевым фразам вы не находите ваш сайт в поисковой выдаче, продвижение осуществляется абсолютно бесплатно до момента выхода вашего сайта в ТОП.
                p При данном виде продвижения у нас максимальная мотивация показать в первые 3 месяца работы на сайтом ощутимый результат, так как по истечению данного срока вы оплачиваете конкретный результат. На всем протяжении работ вы получаете полную отчётность о проделанных работах и прозрачную статистику.

            .seo-desc__block.content
                h3 Какие результаты стоит ожидать?
                p Введу технических особенностей поисковых систем, данный вид продвижения отлично подойдёт компаниям, у которых возраст сайта превышает более одного года и другие способы продвижения оказались не эффективными. Более того такой метод позволяет существенно сэкономить деньги и избежать пустых затрат. Практика показывает, что более 50% продвигаемых запросов выходят в топ поле 3 месяца продвижения.

            .seo-desc__block.content
                h3 Особенности тарифного плана
                ul
                    li Рост видимости сайта
                    li Увеличение целевого трафика
                    li Защита от слива бюджета
                    li Прозрачная схема работы
                    li Самый эффективный способ получить много заказов.
                    li Точная стоимость каждого ключевого запроса
                    li Тариф подходит для большинства сайтов.


            button(type='button').seo-desc__button.button.button_red.promotionOpen Подобрать ключевые запросы для продвижения
        //-right
        .seo-desc__right
            .seo-desc__list
                -
                    var list = [
                            ['1 место', 'в рейтинге по продвижению сайтов http://ratingnet.ru'],
                           ['100 %', 'оплата за результат'],
                           ['Только', 'финансовые гарантии'],
                           ['более 300', 'продвинутых сайтов в топ'],
                           ['96 %', 'клиентов нас рекомендуют']
                        ];
                each item in list
                    .seo-desc__item
                        .seo-desc__item-title= item[0]
                        .seo-desc__item-desc= item[1]


