include ../../common/_mixins
include ../../common/_settings

section(id="01" class='first active-page')

    //- TITLE
    .first__title
        .title
            .title__line
                .title__text Cоздаем сайты,
            .title__line
                span.title__text.title__text_small которые
                span.title__text продают


    //- IMAGE
    .first__image
        img(src='images/bg/face.png').first__img
        .first__we
            .we
                .we__title Мы
                button.we__btn
                    +btn('Заказать сайт')
    //- TEST
    .first__test
        a(href='/').test
            .test__percent 15%
            .test__desc
                .test__title Пройдите тест
                .test__text и получите скидку

    //- MENU
    .first__menu
        .menu
            each item in menu
                a(href=item.href).menu__item
                    .menu__item-container
                        .menu__item-title= item.title
                        .menu__item-value= item.val
