-
    var contacts = {
    tel1: {title1:'+7 (495)', title2:' 695 40 46', href: '+7(495)695-40-46'},
    tel2: {title1:'+7 (916)', title2:' 395 99 34', href: '+7 (916)395-99-34'}
    };

-
    var controls = {
    tel: {title:'Заказать звонок', href: ''},
    question: {title: 'Задать вопрос', href: '/'}
    };


-
    var socials = {
    vk: '/',
    fb: '/',
    insta: '/'
    };

-
    var nav = {
    'Хостинг': '/',
    'О компании': '/',
    'Портфолио': '/',
    'Стоимость': '/',
    'Контакты': '/',
    'Блог': '/'
    };

-
    var menu = [
    {title: 'Промо-сайт', val: 'от 39 920 Р', href: '/site.html'},
    {title: 'Копроративный сайт', val: 'от 79 920 Р', href: '/site.html'},
    {title: 'E – commerce', val: 'от 103 920 Р', href: '/site.html'},
    {title: 'Лендинг', val: 'от 63 920 Р', href: '/site.html'},
    {title: 'Сайт по тематике', val: 'от 39 920 Р', href: '/site.html'},
    {title: 'Продвижение', val: 'от 79 920 Р', href: '/'},
    ]

-
    var pagination = [
    {href: '#', active:true},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false}
    ];

-
    var sites = [
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site1.png',
    color: '#fdd752',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site2.png',
    color: '#013243',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site3.png',
    color: '#00a2ff',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site4.png',
    color: '#c70541',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site5.png',
    color: '#000000',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site6.png',
    color: '#bd0808',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site7.png',
    color: '#e8b4c6',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site8.png',
    color: '#040a1a',
    href: '/'
    }
    ]

-
    var seo = [
    {
    title: 'Автосервис',
    checked: false
    },
    {
    title: 'Автозапчасти',
    checked: false
    },
    {
    title: 'Бухгалтерские услуги',
    checked: false
    },
    {
    title: 'Оргтехника',
    checked: false
    },
    {
    title: 'Клининговая компания',
    checked: false
    },
    {
    title: 'Ювелирный магазин',
    checked: true
    },
    {
    title: 'Мед. клиника',
    checked: false
    },
    {
    title: 'Недвижимость',
    checked: false
    },
    {
    title: 'Мебельный магазин',
    checked: false
    },
    {
    title: 'Салон красоты',
    checked: false
    },
    {
    title: 'Ремонтные услуги',
    checked: false
    },
    {
    title: 'Строительная компания',
    checked: false
    },
    {
    title: 'Другое',
    checked: false
    }
    ];

-
    var tab1 = {
        thead : [
        {title:'Предлагаем', width: 'table__wt'},
        {title:'Мы', width: 'table__ws'},
        {title:'Другие компании', width: 'table__wth'}
        ],
        tbody: [
            [
            {title: 'Уникальный дизайн', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Продуманное и понятное ТЗ', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Постоянная поддержка', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Выгодные предложение', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Соотношение цены и качества', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ]
        ]
    }
-
    var tab2 = {
        thead : [
        {title:'Предлагаем', width: 'table__wt'},
        {title:'Мы', width: 'table__ws'},
        {title:'Другие компании', width: 'table__wth'}
        ],
        tbody: [
            [
            {title: 'Уникальный дизайн2', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Продуманное и понятное ТЗ2', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Постоянная поддержка2', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Выгодные предложение2', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ],
            [
            {title: 'Соотношение цены и качества2', width: 'table__wt'},
            {title: '+', width: 'table__ws'},
            {title: '+', width: 'table__wth'}
            ]
        ]
    }

-
    var reviews = [
    {
        title:'Василий иванович',
        desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
        price: '359 тыс.',
        date: '4 дня назад',
        img: 'images/content/reviews/rev3.jpg',
        link: 'https://www.youtube.com/watch?v=_PIxlKDS4_8'
    },
    {
        title:'Людмила Васильевна',
        desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
        price: '351 тыс.',
        date: '3 дня назад',
        img: 'images/content/reviews/rev1.jpg',
        link: 'https://www.youtube.com/watch?v=Lt6iVgEJ0Ao'
    },
    {
        title:'Васильевна Людмила',
        desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
        price: '999 тыс.',
        date: '2 дня назад',
        img: 'images/content/reviews/rev2.jpg',
        link: 'https://www.youtube.com/watch?v=Op2qhMwIC0A'
    },
    {
        title:'Людмила Васильевна',
        desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
        price: '351 тыс.',
        date: '3 дня назад',
        img: 'images/content/reviews/rev1.jpg',
        link: 'https://www.youtube.com/watch?v=Lt6iVgEJ0Ao'
    },

    ];

-
    var footer = [
        [
            {
                title: 'SEO продвижение сайта',
                href: '/'
            },
            {
                title: 'Контекстная реклама',
                href: '/'
            }
        ],
    [
            {
                title: 'Размещение на выделенном сервере',
                href: '/'
            },
            {
                title: 'Продвижение в социальных сетях',
                href: '/'
            }
        ],
    [
            {
                title: 'Наполнение сайтов',
                href: '/'
            },
            {
                title: 'Написание контента',
                href: '/'
            }
        ],

    ]

- var tel1 = {title: '+7 (495) 150-45-98', value: '+7(495)150-45-98'}
- var tel2 = {title: '8 (800) 333-45-98', value: '8(800)333-45-98'}
- var email = {title: 'info@web-comp.ru', value: 'info@web-comp.ru'}