-
    var contacts = {
    tel1: {title1:'+7 (495)', title2:' 695 40 46', href: '+7(495)695-40-46'},
    tel2: {title1:'+7 (916)', title2:' 395 99 34', href: '+7 (916)395-99-34'}
    };

-
    var controls = {
    tel: {title:'Заказать звонок', href: ''},
    question: {title: 'Задать вопрос', href: '/'}
    };


-
    var socials = {
    vk: '/',
    fb: '/',
    insta: '/'
    };

-
    var nav = {
    'Хостинг': '/',
    'О компании': '/',
    'Портфолио': '/',
    'Стоимость': '/',
    'Контакты': '/',
    'Блог': '/'
    };

-
    var menu = [
    {title: 'Промо-сайт', val: 'от 39 920 Р', href: '/'},
    {title: 'Копроративный сайт', val: 'от 79 920 Р', href: '/'},
    {title: 'E – commerce', val: 'от 103 920 Р', href: '/'},
    {title: 'Лендинг', val: 'от 63 920 Р', href: '/'},
    {title: 'Сайт по тематике', val: 'от 39 920 Р', href: '/'},
    {title: 'Продвижение', val: 'от 79 920 Р', href: '/'},
    ]

-
    var pagination = [
    {href: '#', active:true},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false}
    ];

-
    var sites = [
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site1.png',
    color: '#fdd752',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site2.png',
    color: '#013243',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site3.png',
    color: '#00a2ff',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site4.png',
    color: '#c70541',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site5.png',
    color: '#000000',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site6.png',
    color: '#bd0808',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site7.png',
    color: '#e8b4c6',
    href: '/'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site8.png',
    color: '#040a1a',
    href: '/'
    }
    ]

-
    var seo = [
    {
    title: 'Автосервис',
    checked: false
    },
    {
    title: 'Автозапчасти',
    checked: false
    },
    {
    title: 'Бухгалтерские услуги',
    checked: false
    },
    {
    title: 'Оргтехника',
    checked: false
    },
    {
    title: 'Клининговая компания',
    checked: false
    },
    {
    title: 'Ювелирный магазин',
    checked: true
    },
    {
    title: 'Медю клиника',
    checked: false
    },
    {
    title: 'Недвижимость',
    checked: false
    },
    {
    title: 'Мебельный магазин',
    checked: false
    },
    {
    title: 'Салон красоты',
    checked: false
    },
    {
    title: 'Ремонтные услуги',
    checked: false
    },
    {
    title: 'Строительная компания',
    checked: false
    },
    {
    title: 'Другое',
    checked: false
    }
    ]