-
    var contacts = {
    tel1: {title1:'+7 (495)', title2:' 695 40 46', href: '+7(495)695-40-46'},
    tel2: {title1:'+7 (916)', title2:' 395 99 34', href: '+7 (916)395-99-34'}
    };
-
    var controls = {
    tel: {title:'Заказать звонок', href: ''},
    question: {title: 'Задать вопрос', href: '/'}
    };
-
    var socials = {
    vk: './',
    fb: './',
    insta: './'
    };
-
    var nav = {
    'Хостинг': './',
    'О компании': './',
    'Портфолио': './',
    'Стоимость': './',
    'Контакты': './',
    'Блог': './'
    };
-
    var menu = [
    {title: 'Промо-сайт', val: 'от 39 920 Р', href: './site.html'},
    {title: 'Копроративный сайт', val: 'от 79 920 Р', href: './site.html'},
    {title: 'E – commerce', val: 'от 103 920 Р', href: './site.html'},
    {title: 'Лендинг', val: 'от 63 920 Р', href: './site.html'},
    {title: 'Сайт по тематике', val: 'от 39 920 Р', href: './site.html'},
    {title: 'Продвижение', val: 'от 79 920 Р', href: './promote.html'},
    ]
-
    var pagination = [
    {href: '#', active:true},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false}
    ];
-
    var sites = [
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site1.png',
    color: '#fdd752',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site2.png',
    color: '#013243',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site3.png',
    color: '#00a2ff',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site4.png',
    color: '#c70541',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site5.png',
    color: '#000000',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site6.png',
    color: '#bd0808',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site7.png',
    color: '#e8b4c6',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site8.png',
    color: '#040a1a',
    href: './'
    }
    ]
-
    var seo = [
    {
    title: 'Автосервис',
    checked: false
    },
    {
    title: 'Автозапчасти',
    checked: false
    },
    {
    title: 'Бухгалтерские услуги',
    checked: false
    },
    {
    title: 'Оргтехника',
    checked: false
    },
    {
    title: 'Клининговая компания',
    checked: false
    },
    {
    title: 'Ювелирный магазин',
    checked: true
    },
    {
    title: 'Мед. клиника',
    checked: false
    },
    {
    title: 'Недвижимость',
    checked: false
    },
    {
    title: 'Мебельный магазин',
    checked: false
    },
    {
    title: 'Салон красоты',
    checked: false
    },
    {
    title: 'Ремонтные услуги',
    checked: false
    },
    {
    title: 'Строительная компания',
    checked: false
    },
    {
    title: 'Другое',
    checked: false
    }
    ];
-
    var tab1 = {
    thead : [
    {title:'Предлагаем', width: 'table__wt'},
    {title:'Мы', width: 'table__ws'},
    {title:'Другие компании', width: 'table__wth'}
    ],
    tbody: [
    [
    {title: 'Уникальный дизайн', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Продуманное и понятное ТЗ', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Постоянная поддержка', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Выгодные предложение', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Соотношение цены и качества', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ]
    ]
    }
-
    var tab2 = {
    thead : [
    {title:'Предлагаем', width: 'table__wt'},
    {title:'Мы', width: 'table__ws'},
    {title:'Другие компании', width: 'table__wth'}
    ],
    tbody: [
    [
    {title: 'Уникальный дизайн2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Продуманное и понятное ТЗ2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Постоянная поддержка2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Выгодные предложение2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Соотношение цены и качества2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ]
    ]
    }
-
    var reviews = [
    {
    title:'Василий иванович',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '359 тыс.',
    date: '4 дня назад',
    img: 'images/content/reviews/rev3.jpg',
    link: 'https://www.youtube.com/watch?v=_PIxlKDS4_8'
    },
    {
    title:'Людмила Васильевна',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '351 тыс.',
    date: '3 дня назад',
    img: 'images/content/reviews/rev1.jpg',
    link: 'https://www.youtube.com/watch?v=Lt6iVgEJ0Ao'
    },
    {
    title:'Васильевна Людмила',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '999 тыс.',
    date: '2 дня назад',
    img: 'images/content/reviews/rev2.jpg',
    link: 'https://www.youtube.com/watch?v=Op2qhMwIC0A'
    },
    {
    title:'Людмила Васильевна',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '351 тыс.',
    date: '3 дня назад',
    img: 'images/content/reviews/rev1.jpg',
    link: 'https://www.youtube.com/watch?v=Lt6iVgEJ0Ao'
    },

    ];
-
    var footer = [
    [
    {
    title: 'SEO продвижение сайта',
    href: './seo.html'
    },
    {
    title: 'Контекстная реклама',
    href: './'
    }
    ],
    [
    {
    title: 'Размещение на выделенном сервере',
    href: './'
    },
    {
    title: 'Продвижение в социальных сетях',
    href: './smm.html'
    }
    ],
    [
    {
    title: 'Наполнение сайтов',
    href: './'
    },
    {
    title: 'Написание контента',
    href: './'
    }
    ],

    ]

- var tel1 = {title: '+7 (495) 150-45-98', value: '+7(495)150-45-98'}
- var tel2 = {title: '8 (800) 333-45-98', value: '8(800)333-45-98'}
- var email = {title: 'info@web-comp.ru', value: 'info@web-comp.ru'}

-
    var siteDev = [
        {
            day: '2 дня',
            desc: 'Перенос на хостинг и программа качества'
        },
        {
            day: '5 дней',
            desc: 'Наполнение\n'+
            'и тестирование сайта'
        },
        {
            day: '15 дней',
            desc: 'Программирование\n'+
            'сайта'
        },
        {
            day: '8 дней',
            desc: 'Верстка согласованых\n'+
            'макетов'
        },
        {
            day: '7 дней',
            desc: 'Дизайн внутренних\n'+
            'страниц'
        },
        {
            day: '5 дней',
            desc: 'Составление\n'+
            'Технического задания'
        },
        {
            day: '5 дней',
            desc: 'Дизайн-концепция\n'+
            'главной страницы'
        },
        {
            day: '10 дней',
            desc: 'Интерактивный\n'+
            'прототип'
        },
        {
            day: '5 дней',
            desc: 'Проектирование СЯ\n'+
            'и структур  сайта'
        },

    ]
-
    var promotePrice = [
        [
            {
                title: 'Продвижение SEO',
                href: './seo.html',
                list: [
                    {title: 'С оплатой за результат', href: '/'},
                    {title: 'С оплатой за трафик', href: '/'},
                    {title: 'Продвижение интеренет-магазина', href: '/'},
                    {title: 'SEO продвижение компании', href: '/'},
                    {title: 'Продвижение в Яндекс', href: '/'},
                    {title: 'Продвижение в Google', href: '/'},
                    {title: 'SEO оптимизация', href: '/'},
                    {title: 'SEO аудит', href: '/'}
                ],
                price: 'от 39 920 Р',
                dopClass: ''
            }
        ],
        [
            {
                title: 'Продвижение по тематике',
                href: './',
                list: [
                    {title: 'Автозапчасти', href: '/'},
                    {title: 'Бухгалтерские услуги', href: '/'},
                    {title: 'Мед. клиника', href: '/'},
                    {title: 'Недвижимость', href: '/'},
                    {title: 'Мебельный магазин', href: '/'},
                    {title: 'Ремонтные услуги', href: '/'},
                    {title: 'Строительная компания', href: '/'},
                    {title: 'Другое (15)', href: '/'}
                    ],
                price: 'от 39 920 Р',
                dopClass: ''
            }
        ],
        [
            {
                title: 'Контекстная реклама',
                href: './',
                list: [
                    {title: 'Яндек Директ', href: '/'},
                    {title: 'Google Advance', href: '/'}
                ],
                price: 'от 39 920 Р',
                dopClass: ''
            },
            {
                title: 'Маркетинговый аудит',
                href: './',
                list: [
                ],
                price: 'от 39 920 Р',
                dopClass: ''
            }
        ],
        [
            {
                title: 'Продвижение по тематике',
                href: './smm.html',
                list: [
                    {title: 'Реклама в ВКонтакте', href: '/'},
                    {title: 'Реклама в Facebook', href: '/'},
                    {title: 'Реклама в Instagram', href: '/'},
                    {title: 'Реклама в Youtube', href: '/'},
                    {title: 'Реклама в MK', href: '/'}
                ],
                price: 'от 39 920 Р',
                dopClass: ''
            }
        ]
    ]
-
    var promoteResult = [
        {
            val: 48,
            type: '%',
            text: 'Рост целевых посетителей'
        },
        {
            val: 32,
            type: '%',
            text: 'Рост заявок за 9 месяцев'
        },
        {
            val: 50,
            type: '%',
            text: 'Запросов в ТОП-3 в Google'
        },
        {
            val: 40,
            type: 'МЛН. Р',
            text: 'Прибль за 9 месяцев'
        },

    ]
-
    var promoteWork = [
        {
            title: '01',
            src: 'images/content/promote/pWork1.svg',
            desc: 'Первичный анализ сайта\n'+
            'и конкурентов'
        },
        {
            title: '02',
            src: 'images/content/promote/pWork2.svg',
            desc: 'Разработка стратегии\n'+
            'продвижения сайта'
        },
        {
            title: '03',
            src: 'images/content/promote/pWork3.svg',
            desc: 'Анализ результата\n'+
            'проделанных работ'
        },
        {
            title: '04',
            src: 'images/content/promote/pWork4.svg',
            desc: 'Внесение корректировок\n'+
            'и достижение результата'
        }
    ]
-
    var seoPriceSwitches = [
    {
    id: 1,
    title: 'Тариф «Стартап»',
    dopClass: 'active'
    },
    {
    id: 2,
    title: 'Тариф «Оптимальный»',
    dopClass: ''
    },
    {
    id: 3,
    title: 'Тариф «Прорыв»',
    dopClass: ''
    },
    {
    id: 4,
    title: 'Тариф «Полный охват»',
    dopClass: ''
    },

    ];
-
    var seoPriceTabs = [
    {
    id: 1,
    dopClass: 'active'
    },
    {
    id: 2,
    dopClass: ''
    },
    {
    id: 3,
    dopClass: ''
    },
    {
    id: 4,
    dopClass: ''
    }
    ];
-
    var seoPriceRows = [
    [
    {
    title: 'до 15 000  знаков',
    text: 'Написание и размещения текстов в рамках тарифа'
    },
    {
    title: 'до 200',
    text: 'Ключевых слов в рамках одного проекта'
    }
    ],
    [
    {
    title: '400 изображений',
    text: 'Оптимизация до 400 изображений на сайте'
    },
    {
    title: 'до 30',
    text: 'Кол-во продвигаемых разделов сайта'
    }
    ],
    [
    {
    title: '10 ч.',
    text: 'Аналитических работ'
    },
    {
    title: '16 ч.',
    text: 'Время SEO-специалистов'
    }
    ]

    ];
-
    var seoFaq = [
        {
            title: 'Как быстро я увижу результат от продвижения?',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
        },
        {
            title: 'Как можно контролировать вашу работу?',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
        },
        {
            title: 'Как можно максимально быстро получить первые заявки и обращения с сайта?',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
        },
        {
            title: 'Существует много веб-студий, которые занимаются продвижением. Как выбрать лучшую?',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
        },
        {
            title: 'Что дополнительно потребуется от нас для эффективной вашей работы?',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
        },
        {
            title: 'Сколько людей будут работать над моим проектом?',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
        }
    ];
-
    var smmSocials = [
        {
            src: 'images/content/smm/smmSocial1.png',
            href: './',
            title: '900 000 000',
            text: 'Активных пользователей <br> из Москвы и области <br> старше 25 лет'
        },
        {
            src: 'images/content/smm/smmSocial2.png',
            href: './',
            title: '2 589 236 658 чел',
            text: 'Взрослые платежеспособные <br> люди от 18 до 45 лет, <br> бизнесмены'
        },
        {
            src: 'images/content/smm/smmSocial3.png',
            href: './',
            title: 'Более 80 %',
            text: 'Интернет-пользователей <br> в России ежедневно смотрят <br> онлайн-видео'
        },
        {
            src: 'images/content/smm/smmSocial4.png',
            href: './',
            title: '5 965 896 чел',
            text: 'Это крупнейшая сеть России и СНГ <br> В ВК лучше продавать недорогие <br> товары '
        },

    ];
-
    var smmPrice = [
        {
            title: 'Бюджетный',
            list: ['От 400 подписчиков в месяц','Привлечение только Целевой Аудитории','Не более 25% коммерческих аккаунтов'],
            price: 'от 20 000 Р',
            percent: ''
        },
        {
            title: 'Контент и продвижение',
            list: ['От 1000 подписчиков в месяц','Привлечение только Целевой Аудитории','Не более 5% коммерческих аккаунтов'],
            price: 'от 30 000 Р',
            percent: '6% от бюджета на таргет'
        },
        {
            title: 'Все включено',
            list: ['От 3000 подписчиков в месяц','Привлечение только Целевой Аудитории'],
            price: 'от 40 000 Р',
            percent: '6% от бюджета на таргет'
        }
    ];
-
    var smmStrSwitches = [
    {
    id: 1,
    title: 'Аудит существующих онлайн\n'+
    'каналов и разработка рекомендаций',
    dopClass: 'active'
    },
    {
    id: 2,
    title: 'Разработка и публикация контента',
    dopClass: ''
    },
    {
    id: 3,
    title: 'SMM-продвижение',
    dopClass: ''
    },
    {
    id: 4,
    title: 'Коммуникация с подписчиками',
    dopClass: ''
    },
    {
    id: 5,
    title: 'Получение обратной связи\n'+
    'от подписчиков',
    dopClass: ''
    },
    {
    id: 6,
    title: 'Брендирование контента',
    dopClass: ''
    },

    ];
-
    var smmStrTabs = [
    {
    id: 1,
    dopClass: 'active'
    },
    {
    id: 2,
    dopClass: ''
    },
    {
    id: 3,
    dopClass: ''
    },
    {
    id: 4,
    dopClass: ''
    },
    {
    id: 5,
    dopClass: ''
    },
    {
    id: 6,
    dopClass: ''
    },

    ];
-
    var smmRes = [
        {
            val: '7',
            type: 'мес',
            text: 'Сроки реализации',
            src: 'images/content/smm/result/smmRes1.png'
        },
        {
            val: '1050',
            type: '',
            text: 'Переходов на сайтов в мес.',
            src: 'images/content/smm/result/smmRes2.png'
        },
        {
            val: '150',
            type: '',
            text: 'Обращений в мес.',
            src: 'images/content/smm/result/smmRes2.png'
        },

    ];