-
    var contacts = {
    tel1: {title1:'+7 (495)', title2:' 695 40 46', href: '+7(495)695-40-46'},
    tel2: {title1:'+7 (916)', title2:' 395 99 34', href: '+7 (916)395-99-34'}
    };
-
    var controls = {
    tel: {title:'Заказать звонок', href: ''},
    question: {title: 'Задать вопрос', href: '/'}
    };
-
    var socials = {
    vk: './',
    fb: './',
    insta: './'
    };
-
    var nav = {
    'Хостинг': './hosting.html',
    'О компании': './',
    'Портфолио': './portfolio.html',
    'Стоимость': './',
    'Контакты': './contacts.html',
    'Блог': './news.html'
    };
-
    var menu = [
    {title: 'Промо-сайт', val: 'от 39 920 Р', href: './site.html'},
    {title: 'Копроративный сайт', val: 'от 79 920 Р', href: './site.html'},
    {title: 'E – commerce', val: 'от 103 920 Р', href: './site.html'},
    {title: 'Лендинг', val: 'от 63 920 Р', href: './site.html'},
    {title: 'Сайт по тематике', val: 'от 39 920 Р', href: './theme.html'},
    {title: 'Продвижение', val: 'от 79 920 Р', href: './promote.html'},
    ]
-
    var pagination = [
    {href: '#', active:true},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false}
    ];
-
    var sites = [
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site1.png',
    color: '#fdd752',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site2.png',
    color: '#013243',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site3.png',
    color: '#00a2ff',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site4.png',
    color: '#c70541',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site5.png',
    color: '#000000',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site6.png',
    color: '#bd0808',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site7.png',
    color: '#e8b4c6',
    href: './'
    },
    {
    title: 'Промо-сайт',
    img: 'images/content/sites/site8.png',
    color: '#040a1a',
    href: './'
    }
    ]
-
    var seo = [
    {
    title: 'Автосервис',
    checked: false
    },
    {
    title: 'Автозапчасти',
    checked: false
    },
    {
    title: 'Бухгалтерские услуги',
    checked: false
    },
    {
    title: 'Оргтехника',
    checked: false
    },
    {
    title: 'Клининговая компания',
    checked: false
    },
    {
    title: 'Ювелирный магазин',
    checked: true
    },
    {
    title: 'Мед. клиника',
    checked: false
    },
    {
    title: 'Недвижимость',
    checked: false
    },
    {
    title: 'Мебельный магазин',
    checked: false
    },
    {
    title: 'Салон красоты',
    checked: false
    },
    {
    title: 'Ремонтные услуги',
    checked: false
    },
    {
    title: 'Строительная компания',
    checked: false
    },
    {
    title: 'Другое',
    checked: false
    }
    ];
-
    var tab1 = {
    thead : [
    {title:'Предлагаем', width: 'table__wt'},
    {title:'Мы', width: 'table__ws'},
    {title:'Другие компании', width: 'table__wth'}
    ],
    tbody: [
    [
    {title: 'Уникальный дизайн', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Продуманное и понятное ТЗ', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Постоянная поддержка', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Выгодные предложение', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Соотношение цены и качества', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ]
    ]
    }
-
    var tab2 = {
    thead : [
    {title:'Предлагаем', width: 'table__wt'},
    {title:'Мы', width: 'table__ws'},
    {title:'Другие компании', width: 'table__wth'}
    ],
    tbody: [
    [
    {title: 'Уникальный дизайн2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Продуманное и понятное ТЗ2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Постоянная поддержка2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Выгодные предложение2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ],
    [
    {title: 'Соотношение цены и качества2', width: 'table__wt'},
    {title: '+', width: 'table__ws'},
    {title: '+', width: 'table__wth'}
    ]
    ]
    }
-
    var reviews = [
    {
    title:'Василий иванович',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '359 тыс.',
    date: '4 дня назад',
    img: 'images/content/reviews/rev3.jpg',
    link: 'https://www.youtube.com/watch?v=_PIxlKDS4_8'
    },
    {
    title:'Людмила Васильевна',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '351 тыс.',
    date: '3 дня назад',
    img: 'images/content/reviews/rev1.jpg',
    link: 'https://www.youtube.com/watch?v=Lt6iVgEJ0Ao'
    },
    {
    title:'Васильевна Людмила',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '999 тыс.',
    date: '2 дня назад',
    img: 'images/content/reviews/rev2.jpg',
    link: 'https://www.youtube.com/watch?v=Op2qhMwIC0A'
    },
    {
    title:'Людмила Васильевна',
    desc: 'В 2006 году компания «Сайт НН» разрабатывала для ЗАО «Системы передовых технологий» Интернет-представительство ...',
    price: '351 тыс.',
    date: '3 дня назад',
    img: 'images/content/reviews/rev1.jpg',
    link: 'https://www.youtube.com/watch?v=Lt6iVgEJ0Ao'
    },

    ];
-
    var footer = [
    [
    {
    title: 'SEO продвижение сайта',
    href: './seo.html'
    },
    {
    title: 'Контекстная реклама',
    href: './reklama.html'
    }
    ],
    [
    {
    title: 'Размещение на выделенном сервере',
    href: './'
    },
    {
    title: 'Продвижение в социальных сетях',
    href: './smm.html'
    }
    ],
    [
    {
    title: 'Наполнение сайтов',
    href: './'
    },
    {
    title: 'Написание контента',
    href: './'
    }
    ],

    ]

- var tel1 = {title: '+7 (495) 150-45-98', value: '+7(495)150-45-98'}
- var tel2 = {title: '8 (800) 333-45-98', value: '8(800)333-45-98'}
- var email = {title: 'info@web-comp.ru', value: 'info@web-comp.ru'}

-
    var siteDev = [
    {
    day: '2 дня',
    desc: 'Перенос на хостинг и программа качества'
    },
    {
    day: '5 дней',
    desc: 'Наполнение\n'+
    'и тестирование сайта'
    },
    {
    day: '15 дней',
    desc: 'Программирование\n'+
    'сайта'
    },
    {
    day: '8 дней',
    desc: 'Верстка согласованых\n'+
    'макетов'
    },
    {
    day: '7 дней',
    desc: 'Дизайн внутренних\n'+
    'страниц'
    },
    {
    day: '5 дней',
    desc: 'Составление\n'+
    'Технического задания'
    },
    {
    day: '5 дней',
    desc: 'Дизайн-концепция\n'+
    'главной страницы'
    },
    {
    day: '10 дней',
    desc: 'Интерактивный\n'+
    'прототип'
    },
    {
    day: '5 дней',
    desc: 'Проектирование СЯ\n'+
    'и структур  сайта'
    },

    ]
-
    var promotePrice = [
    [
    {
    title: 'Продвижение SEO',
    href: './seo.html',
    list: [
    {title: 'С оплатой за результат', href: './theme.html'},
    {title: 'С оплатой за трафик', href: './theme.html'},
    {title: 'Продвижение интеренет-магазина', href: './theme.html'},
    {title: 'SEO продвижение компании', href: './theme.html'},
    {title: 'Продвижение в Яндекс', href: './theme.html'},
    {title: 'Продвижение в Google', href: './theme.html'},
    {title: 'SEO оптимизация', href: './theme.html'},
    {title: 'SEO аудит', href: './theme.html'}
    ],
    price: 'от 39 920 Р',
    dopClass: ''
    }
    ],
    [
    {
    title: 'Продвижение по тематике',
    href: './',
    list: [
    {title: 'Автозапчасти', href: './theme.html'},
    {title: 'Бухгалтерские услуги', href: './theme.html'},
    {title: 'Мед. клиника', href: './theme.html'},
    {title: 'Недвижимость', href: './theme.html'},
    {title: 'Мебельный магазин', href: './theme.html'},
    {title: 'Ремонтные услуги', href: './theme.html'},
    {title: 'Строительная компания', href: './theme.html'},
    {title: 'Другое (15)', href: './theme.html'}
    ],
    price: 'от 39 920 Р',
    dopClass: ''
    }
    ],
    [
    {
    title: 'Контекстная реклама',
    href: './',
    list: [
    {title: 'Яндек Директ', href: './theme.html'},
    {title: 'Google Advance', href: './theme.html'}
    ],
    price: 'от 39 920 Р',
    dopClass: ''
    },
    {
    title: 'Маркетинговый аудит',
    href: './',
    list: [
    ],
    price: 'от 39 920 Р',
    dopClass: ''
    }
    ],
    [
    {
    title: 'Продвижение по тематике',
    href: './smm.html',
    list: [
    {title: 'Реклама в ВКонтакте', href: './theme.html'},
    {title: 'Реклама в Facebook', href: './theme.html'},
    {title: 'Реклама в Instagram', href: './theme.html'},
    {title: 'Реклама в Youtube', href: './theme.html'},
    {title: 'Реклама в MK', href: './theme.html'}
    ],
    price: 'от 39 920 Р',
    dopClass: ''
    }
    ]
    ]
-
    var promoteResult = [
    {
    val: 48,
    type: '%',
    text: 'Рост целевых посетителей'
    },
    {
    val: 32,
    type: '%',
    text: 'Рост заявок за 9 месяцев'
    },
    {
    val: 50,
    type: '%',
    text: 'Запросов в ТОП-3 в Google'
    },
    {
    val: 40,
    type: 'МЛН. Р',
    text: 'Прибль за 9 месяцев'
    },

    ]
-
    var promoteWork = [
    {
    title: '01',
    src: 'images/content/promote/pWork1.svg',
    desc: 'Первичный анализ сайта\n'+
    'и конкурентов'
    },
    {
    title: '02',
    src: 'images/content/promote/pWork2.svg',
    desc: 'Разработка стратегии\n'+
    'продвижения сайта'
    },
    {
    title: '03',
    src: 'images/content/promote/pWork3.svg',
    desc: 'Анализ результата\n'+
    'проделанных работ'
    },
    {
    title: '04',
    src: 'images/content/promote/pWork4.svg',
    desc: 'Внесение корректировок\n'+
    'и достижение результата'
    }
    ]
-
    var seoPriceSwitches = [
    {
    id: 1,
    title: 'Тариф «Стартап»',
    dopClass: 'active'
    },
    {
    id: 2,
    title: 'Тариф «Оптимальный»',
    dopClass: ''
    },
    {
    id: 3,
    title: 'Тариф «Прорыв»',
    dopClass: ''
    },
    {
    id: 4,
    title: 'Тариф «Полный охват»',
    dopClass: ''
    },

    ];
-
    var seoPriceTabs = [
    {
    id: 1,
    dopClass: 'active'
    },
    {
    id: 2,
    dopClass: ''
    },
    {
    id: 3,
    dopClass: ''
    },
    {
    id: 4,
    dopClass: ''
    }
    ];
-
    var seoPriceRows = [
    [
    {
    title: 'до 15 000  знаков',
    text: 'Написание и размещения текстов в рамках тарифа'
    },
    {
    title: 'до 200',
    text: 'Ключевых слов в рамках одного проекта'
    }
    ],
    [
    {
    title: '400 изображений',
    text: 'Оптимизация до 400 изображений на сайте'
    },
    {
    title: 'до 30',
    text: 'Кол-во продвигаемых разделов сайта'
    }
    ],
    [
    {
    title: '10 ч.',
    text: 'Аналитических работ'
    },
    {
    title: '16 ч.',
    text: 'Время SEO-специалистов'
    }
    ]

    ];
-
    var seoFaq = [
    {
    title: 'Как быстро я увижу результат от продвижения?',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
    },
    {
    title: 'Как можно контролировать вашу работу?',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
    },
    {
    title: 'Как можно максимально быстро получить первые заявки и обращения с сайта?',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
    },
    {
    title: 'Существует много веб-студий, которые занимаются продвижением. Как выбрать лучшую?',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
    },
    {
    title: 'Что дополнительно потребуется от нас для эффективной вашей работы?',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
    },
    {
    title: 'Сколько людей будут работать над моим проектом?',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi debitis dolores ducimus eos error facilis iure, labore maxime mollitia nulla numquam officia, optio quaerat, quis reiciendis repudiandae sapiente voluptates.'
    }
    ];
-
    var smmSocials = [
    {
    src: 'images/content/smm/smmSocial1.png',
    href: './',
    title: '900 000 000',
    text: 'Активных пользователей <br> из Москвы и области <br> старше 25 лет'
    },
    {
    src: 'images/content/smm/smmSocial2.png',
    href: './',
    title: '2 589 236 658 чел',
    text: 'Взрослые платежеспособные <br> люди от 18 до 45 лет, <br> бизнесмены'
    },
    {
    src: 'images/content/smm/smmSocial3.png',
    href: './',
    title: 'Более 80 %',
    text: 'Интернет-пользователей <br> в России ежедневно смотрят <br> онлайн-видео'
    },
    {
    src: 'images/content/smm/smmSocial4.png',
    href: './',
    title: '5 965 896 чел',
    text: 'Это крупнейшая сеть России и СНГ <br> В ВК лучше продавать недорогие <br> товары '
    },

    ];
-
    var smmPrice = [
    {
    title: 'Бюджетный',
    list: ['От 400 подписчиков в месяц','Привлечение только Целевой Аудитории','Не более 25% коммерческих аккаунтов'],
    price: 'от 20 000 Р',
    percent: ''
    },
    {
    title: 'Контент и продвижение',
    list: ['От 1000 подписчиков в месяц','Привлечение только Целевой Аудитории','Не более 5% коммерческих аккаунтов'],
    price: 'от 30 000 Р',
    percent: '6% от бюджета на таргет'
    },
    {
    title: 'Все включено',
    list: ['От 3000 подписчиков в месяц','Привлечение только Целевой Аудитории'],
    price: 'от 40 000 Р',
    percent: '6% от бюджета на таргет'
    }
    ];
-
    var smmStrSwitches = [
    {
    id: 1,
    title: 'Аудит существующих онлайн\n'+
    'каналов и разработка рекомендаций',
    dopClass: 'active'
    },
    {
    id: 2,
    title: 'Разработка и публикация контента',
    dopClass: ''
    },
    {
    id: 3,
    title: 'SMM-продвижение',
    dopClass: ''
    },
    {
    id: 4,
    title: 'Коммуникация с подписчиками',
    dopClass: ''
    },
    {
    id: 5,
    title: 'Получение обратной связи\n'+
    'от подписчиков',
    dopClass: ''
    },
    {
    id: 6,
    title: 'Брендирование контента',
    dopClass: ''
    },

    ];
-
    var smmStrTabs = [
    {
    id: 1,
    dopClass: 'active'
    },
    {
    id: 2,
    dopClass: ''
    },
    {
    id: 3,
    dopClass: ''
    },
    {
    id: 4,
    dopClass: ''
    },
    {
    id: 5,
    dopClass: ''
    },
    {
    id: 6,
    dopClass: ''
    },

    ];
-
    var smmRes = [
    {
    val: '7',
    type: 'мес',
    text: 'Сроки реализации',
    src: 'images/content/smm/result/smmRes1.png'
    },
    {
    val: '1050',
    type: '',
    text: 'Переходов на сайтов в мес.',
    src: 'images/content/smm/result/smmRes2.png'
    },
    {
    val: '150',
    type: '',
    text: 'Обращений в мес.',
    src: 'images/content/smm/result/smmRes3.png'
    },

    ];
-
    var themeIssue = [
    ['Автосалоны','Автосервисы','Автозапчасти','Бухгалтерские услуги','Гостиницы и отели','Агентства недвижимости','Детские игрушки','Сайт знакомств','Женская тематика'],
    ['Клиники','Книги','Мебельный сайт','Медицинские услуги','Салоны красоты','Свадебные агентства','Страхование','Строительная тематика','Рестораны'],
    ['Туристическая тематика','Турфирмы','Ювелирные салоны','Магазин одежда','Оргтехника','Юридические услуги','Грузоперевозоки','Фармацевтическая продукция','Стоматологические клиники'],
    ['Фитнес-клубы','Деловые услуги','Банки','Сантехника','Магазины цветов','Товары для дома','Строительные материалы','Спортивные товары','Зоотовары']
    ]
-
    var themeCats = [
    {
    bg: '#66696c',
    src: 'images/content/theme/cats/cat1.png',
    thematic: 'Автосалоны',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: 'url(images/content/theme/cats/cat2Bg.jpg)',
    src: 'images/content/theme/cats/cat2.png',
    thematic: 'Гостиницы и отели',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#cccccc',
    src: 'images/content/theme/cats/cat3.png',
    thematic: 'Сайты по ремонту',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#ff0a00',
    src: 'images/content/theme/cats/cat4.png',
    thematic: 'Агенства недвижимости',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: 'url(images/content/theme/cats/cat5Bg.jpg)',
    src: 'images/content/theme/cats/cat5.png',
    thematic: 'Страхования',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#aa0f0f',
    src: 'images/content/theme/cats/cat6.png',
    thematic: 'Интернет-магазина сантехники',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#1a5a8c',
    src: 'images/content/theme/cats/cat7.png',
    thematic: 'Медицинское оборудование',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#ffc9d5',
    src: 'images/content/theme/cats/cat8.png',
    thematic: 'Свадебные услуги',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#3f1f44',
    src: 'images/content/theme/cats/cat9.png',
    thematic: 'Сайты знакомств',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#ff4200',
    src: 'images/content/theme/cats/cat10.png',
    thematic: 'Книги',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#66696c',
    src: 'images/content/theme/cats/cat1.png',
    thematic: 'Автосалоны',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: 'url(images/content/theme/cats/cat2Bg.jpg)',
    src: 'images/content/theme/cats/cat2.png',
    thematic: 'Гостиницы и отели',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#cccccc',
    src: 'images/content/theme/cats/cat3.png',
    thematic: 'Сайты по ремонту',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: '#ff0a00',
    src: 'images/content/theme/cats/cat4.png',
    thematic: 'Агенства недвижимости',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    },
    {
    bg: 'url(images/content/theme/cats/cat5Bg.jpg)',
    src: 'images/content/theme/cats/cat5.png',
    thematic: 'Страхования',
    title: 'Стоимость заявки',
    from: '150 Р',
    to: '89 Р',
    href: './'
    }
    ];
-
    var themePriceSwitches = [
    {
    id: 1,
    title: 'Корпоративный сайт',
    dopClass: 'active'
    },
    {
    id: 2,
    title: 'Интернет-магазин',
    dopClass: ''
    },
    {
    id: 3,
    title: 'Лендинг',
    dopClass: ''
    },
    {
    id: 4,
    title: 'Промосайт',
    dopClass: ''
    },
    {
    id: 5,
    title: 'Сайт-визитка',
    dopClass: ''
    }

    ];
-
    var themePriceTabs = [
    {
    id: 1,
    dopClass: 'active'
    },
    {
    id: 2,
    dopClass: ''
    },
    {
    id: 3,
    dopClass: ''
    },
    {
    id: 4,
    dopClass: ''
    },
    {
    id: 5,
    dopClass: ''
    }
    ];
-
    var themePriceRows = [
        [
            {
            title: 'Креативный сайт',
            price: '17 000 Р / 3 дня',
            text: 'Кол-во креативных (сложных) страниц — 5'
            },
            {
            title: 'Типовой сайт',
            price: '2 000 Р / 1 день',
            text: 'Кол-во креативных (сложных) страниц — 1'
            }
        ],
        [
            {
            price: '5 000 Р / 4 дня',
            text: 'Кол-во креативных (сложных) страниц — 5'
            },
            {
            price: '7 000 Р / 6 дней',
            text: 'Кол-во креативных (сложных) страниц — 1'
            }
        ]
    ];
-
    var rekDesc = [
        {
            title: 'Кому подходит контекстная реклама',
            list: [
                'Контекстная реклама подходит для ниши услуг где доходность от 2 000 р с одного обращения.',
                'Для компаний, которые хотят быстро увеличить поток заявок.',
                'Для компаний, которым важно точно понимать стоимость привлечения клиента.',
                'Для компаний, которые хотят видеть прозрачную схему привлечения заявок.',
                'Для компаний, которые хотят динамично управлять рекламными акциями, увеличивать или снижать активность продаж в разное время суток.',
                'Для тех, кто хочет увеличить охват аудитории. '
            ]
        },
        {
            title: 'Кому не подходит контекстная реклама',
            list: [
                'Для интернет магазинов и услуг с низкой рентабельностью.',
                'Для компании у которых нет спроса на товары или услуги в интернете',
                'Для набора подписчиков',
                'Для интернет магазинов с маленьким ассортиментом'
            ]
        },
        {
            title: 'В каких тематиках контекстная реклама не работает',
            list: [
                'Тематики эротического характера, некоторых медицинские тематики',
                'Азартные игры',
                'Алкогольная продукция',
                'Взрывчатые вещества',
                'Оружие',
                'Политическая тематика с призывами',
                'Подделки или копии оригинальных товаров'
            ]
        }

    ];
-
    var rekDescList = [
        {
            src: 'images/content/reklama/desc/rekDesc1.png',
            text: 'Официальные партнёры Яндекс'
        },
        {
            src: 'images/content/reklama/desc/rekDesc2.png',
            text: 'Используем сквозную аналитику'
        },
        {
            src: 'images/content/reklama/desc/rekDesc3.png',
            text: 'Считаем стоимость привличения клиента'
        },
        {
            src: 'images/content/reklama/desc/rekDesc4.png',
            text: 'Снижаем стоимость рекламы'
        },
        {
            src: 'images/content/reklama/desc/rekDesc5.png',
            text: 'Улучшаем конверсионные показатели сайта'
        },

    ];
-
    var rekPriceSwitches = [
    {
    id: 1,
    title: 'Яндекс Директ',
    dopClass: 'active'
    },
    {
    id: 2,
    title: 'Google AdWords',
    dopClass: ''
    },
    {
    id: 3,
    title: 'Яндекс / Google',
    dopClass: ''
    },
    {
    id: 4,
    title: 'Маркетинговое исследование',
    dopClass: ''
    }
    ];
-
    var rekPriceTabs = [
    {
    id: 1,
    dopClass: 'active'
    },
    {
    id: 2,
    dopClass: ''
    },
    {
    id: 3,
    dopClass: ''
    },
    {
    id: 4,
    dopClass: ''
    }
    ];
-
    var rekPriceRows = [
        [
            {
            price: 'до 1 000',
            text: 'Обрабатываем запросов при настройке'
            },
            {
            price: '1 112 городов',
            text: 'В которых можно разместить рекламу'
            }
        ],
        [
            {
            price: '0.30 коп. ',
            text: 'За переход на сайт'
            },
            {
            price: 'более 30',
            text: 'Критериев по подбору целевой аудитории'
            }
        ],
        [
            {
            price: '40 ч.',
            text: 'На стройка рекламной компании'
            },
            {
            price: 'до 30 ч.',
            text: 'Модерации рекламной компании'
            }
        ],

    ];
-
    var rekBudget = [
        {
            title: {
                val: '150 Р'
            },
            text: 'Средняя стоимость <br> клика'
        },
        {
            title: {
                val: '3',
                type: '% CTR'
            },
            text: 'Показатель <br> кликабельности'
        },
        {
            title: {
                val: '45',
                type: '% Bonus rate'
            },
            text: 'Показатель отказа <br> поситителей'
        },
        {
            title: {
                val: '25',
                type: '% ROI'
            },
            text: 'Окупаемость инфестиций <br> в рекламу'
        }
    ];
-
    var rekBudgetCheks = [
        'Реклама только <br> для ЦА',
        'Исключение <br> не целевых запросов',
        'Реклама когда ЦА <br> готова покупать',
        'Привлекательные <br> объявления'
    ];
-
    var portDesc = [
        {
            val: 64,
            text: 'прототипа'
        },
        {
            val: 42,
            text: 'дизайн-макетов'
        },
        {
            val: 126,
            text: 'адаптивных стр.'
        },
        {
            val: 61,
            type: 'день',
            text: 'время работы'
        },

    ];
-
    var portTeam = [
        [
            {
                title: 'Иванов иван',
                prof: 'Менеджер проекта'
            },
            {
                title: 'Подольский Валентин',
                prof: 'Дизайнер'
            },
            {
                title: 'Ефимов Максим',
                prof: 'Front-end разработчик'
            }
        ],
        [
            {
                title: 'Абрамов Андрей',
                prof: 'Back-end разработчик'
            },
            {
                title: 'Соколов Александр',
                prof: 'Тестировщик'
            }
        ],
        [
            {
                title: 'Поддубная мария',
                prof: 'Контент менеджер'
            },
            {
                title: 'Рябова Наталья',
                prof: 'Маркетолог'
            }
        ]
    ];
-
    var hostTarifs = [
        {
            src: 'images/content/hosting/tarifs/tarif1.png',
            tarif: 'XS'
        },
        {
            src: 'images/content/hosting/tarifs/tarif2.png',
            tarif: 'S'
        },
        {
            src: 'images/content/hosting/tarifs/tarif3.png',
            tarif: 'M'
        },
        {
            src: 'images/content/hosting/tarifs/tarif4.png',
            tarif: 'L'
        },
        {
            src: 'images/content/hosting/tarifs/tarif5.png',
            tarif: 'XL'
        }
    ];
-
    var hostChars = [
        [
            'Автоматическая установка скриптов',
            'Поддержка .htaccess и .htpasswd',
            'Apache 2.2',
            'Спам фильтр',
            'PHP 5.2 / 5.3 / 5.4 / 5.5 / 5.6 / 7.0 на выбор',
            'Страницы ошибок',
            'Log-файлы',
            'Zend Optimizer v3.3.9'
        ],
        [
            'MySQL 5.1, или MySQL 5.5',
            'Антивирусная проверка файлов',
            'Удаленное подключение к MySQL',
            'Поддержка WAP / WML',
            'POP, IMAP, SMTP',
            'Распаковка .zip, .tar.gz архивов',
            'Паролирование директорий',
            'IonCube v5.x'
        ],
        [
            'Web-почта',
            'Резервное копирование (backups)',
            'Управление DNS',
            'Круглосуточная тех. поддержка',
            'CRON',
            'Круглосуточный мониторинг - 24 / 7',
            'Онлайн Антивирус',
            'CURL и MOD_REWRITE'
        ]
    ];
-
    var newsThematics = [
        {
            title: 'Кейсы',
            count: 50
        },
        {
            title: 'Продвижение SEO',
            count: 10
        },
        {
            title: 'Создание сайтов ',
            count: 13
        },
        {
            title: 'Интернет реклама',
            count: 8
        },
        {
            title: 'Повышение продаж',
            count: 11
        },
        {
            title: 'Бизнес о бизнесе',
            count: 17
        },
        {
            title: 'SMM и SMO',
            count: 35
        },
        {
            title: 'Тексты и контент-маркетинг',
            count: 7
        },
        {
            title: 'Продвижение SEO',
            count: 10
        },
        {
            title: 'Создание сайтов',
            count: 13
        },
        {
            title: 'Интернет реклама',
            count: 8
        },
        {
            title: 'Повышение продаж',
            count: 11
        },
        {
            title: 'Бизнес о бизнесе',
            count: 17
        },
        {
            title: 'Кейсы',
            count: 50
        },
        {
            title: 'Продвижение SEO',
            count: 10
        },
        {
            title: 'Создание сайтов',
            count: 13
        },
        {
            title: 'Интернет реклама',
            count: 8
        },
        {
            title: 'Повышение продаж',
            count: 11
        }
    ];
-
    var newsArts = [
        {
            date: {
                day: '03',
                month: '10'
            },
            src: 'images/content/news/articles/art1.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '03',
                month: '10'
            },
            src: 'images/content/news/articles/art1.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '16',
                month: '10'
            },
            src: 'images/content/news/articles/art2.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '16',
                month: '10'
            },
            src: 'images/content/news/articles/art2.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '03',
                month: '10'
            },
            src: 'images/content/news/articles/art1.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '03',
                month: '10'
            },
            src: 'images/content/news/articles/art1.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '16',
                month: '10'
            },
            src: 'images/content/news/articles/art2.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        },
        {
            date: {
                day: '16',
                month: '10'
            },
            src: 'images/content/news/articles/art2.jpg',
            desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
            view: '321 тыс.',
            time: '7 мин.'
        }
    ];
-
    var articleCats = [
        {
            title: 'Кейсы',
            count: 50
        },
        {
            title: 'Продвижение SEO',
            count:10
        },
        {
            title: 'Создание сайтов',
            count:13
        },
        {
            title: 'Интернет реклама',
            count:8
        },
        {
            title: 'Повышение продаж',
            count:11
        },
        {
            title: 'Бизнес о бизнесе',
            count:17
        },
        {
            title: 'SMM и SMO',
            count:35
        },
        {
            title: 'Тексты и контент-маркетинг',
            count:7
        },

    ]
-
    var articleComments = [
        {
            src: 'images/content/article/user.jpg',
            name: 'Астафьев Андрей',
            date: '10 сентябрь',
            text: 'У NVidia программный интерфейс проще. Что делается в OpenCL долго, то на NVidia заметно проще. Ну и ещё чуточку быстрее, т.к. общий стандарт OpenCL расходует часть мощностей на обеспечение совместимости всех со всеми. Сам в подобных проектах не участвовал, но слышал что NVidia стал стандартом де-факто.'
        },
        {
            src: 'images/content/article/default.jpg',
            name: 'Астафьев Андрей',
            date: '10 сентябрь',
            text: 'У NVidia программный интерфейс проще. Что делается в OpenCL долго, то на NVidia заметно проще. Ну и ещё чуточку быстрее, т.к. общий стандарт OpenCL расходует часть мощностей на обеспечение совместимости всех со всеми. Сам в подобных проектах не участвовал, но слышал что NVidia стал стандартом де-факто.'
        },

    ]
-
    var articleNews = [
    {
    date: {
    day: '03',
    month: '10'
    },
    src: 'images/content/news/articles/art1.jpg',
    desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
    view: '321 тыс.',
    time: '7 мин.'
    },
    {
    date: {
    day: '03',
    month: '10'
    },
    src: 'images/content/news/articles/art1.jpg',
    desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
    view: '321 тыс.',
    time: '7 мин.'
    },
    {
    date: {
    day: '16',
    month: '10'
    },
    src: 'images/content/news/articles/art2.jpg',
    desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
    view: '321 тыс.',
    time: '7 мин.'
    },
    {
    date: {
    day: '16',
    month: '10'
    },
    src: 'images/content/news/articles/art2.jpg',
    desc: 'Конференция Optimization 2018 пройдет 26-27 ноября в кампусе «Сколково» ...',
    view: '321 тыс.',
    time: '7 мин.'
    }
    ];
