-
    var contacts = {
    tel1: {title1:'+7 (495)', title2:' 695 40 46', href: '+7(495)695-40-46'},
    tel2: {title1:'+7 (916)', title2:' 395 99 34', href: '+7 (916)395-99-34'}
    };

-
    var controls = {
    tel: {title:'Заказать звонок', href: ''},
    question: {title: 'Задать вопрос', href: '/'}
    };


-
    var socials = {
    vk: '/',
    fb: '/',
    insta: '/'
    };

-
    var nav = {
    'Хостинг': '/',
    'О компании': '/',
    'Портфолио': '/',
    'Стоимость': '/',
    'Контакты': '/',
    'Блог': '/'
    };

-
    var menu = [
    {title: 'Промо-сайт', val: 'от 39 920 Р', href: '/'},
    {title: 'Копроративный сайт', val: 'от 79 920 Р', href: '/'},
    {title: 'E – commerce', val: 'от 103 920 Р', href: '/'},
    {title: 'Лендинг', val: 'от 63 920 Р', href: '/'},
    {title: 'Сайт по тематике', val: 'от 39 920 Р', href: '/'},
    {title: 'Продвижение', val: 'от 79 920 Р', href: '/'},
    ]

-
    var pagination = [
    {href: '#', active:true},
    {href: '#', active:false},
    {href: '#', active:false},
    {href: '#', active:false}
    ];