-
    var contacts = {
        tel1: {title1:'+7 (495)', title2:' 695 40 46', href: '+7(495)695-40-46'},
        tel2: {title1:'+7 (916)', title2:' 395 99 34', href: '+7 (916)395-99-34'}
    };

-
    var controls = {
        tel: {title:'Заказать звонок', href: ''},
        question: {title: 'Задать вопрос', href: '/'}
    };

-
    var socials = {
        vk: '/',
        fb: '/',
        insta: '/'
    };

-
    var nav = {
        'Хостинг': '/',
        'О компании': '/',
        'Портфолио': '/',
        'Стоимость': '/',
        'Контакты': '/',
        'Блог': '/'
    };