include _mixins
include _settings

.pag
    .pag__arrow
        .pag__arrow-line
        .pag__arrow-triangle


    .pag__wrapper
        .pag__items
            each val, index in pagination
                a(href=val.href class=`pag__item${(val.active) ? ' active':''}`) 0#{index+1}
