include ../../../common/_mixins
include ../../../common/_settings

section.index-cat

    //-TITLE
    .index-cat__title Нам есть чем гордиться

    //-SUBTITLE
    .index-cat__subtitle Не гонимся за количеством, работаем на результат

    //- CATLOG
    .index-cat__list
        each val, index in sites
            a(href=val.href title=val.title style='background-color:'+val.color).index-cat__item
                .proportion.proportion_1x1
                .index-cat__item-img
                    img(src=val.img).index-cat__item-pic

    //- MENU
    .index-cat__menu
        include ../../../common/menuTop
